@charset "utf-8";
/* CSS Document */
html, body, ul, li, p,input,form,th,td,i ,h2 {padding:0; margin:0;}
body { font-size:13px; font-family: "Microsoft yahei", "微软雅黑"; color:#888; }
ul,li { list-style-type:none; text-transform:capitalize;}
li{ vertical-align:middle; padding:0; margin:0;}
img { margin: 0; padding: 0; border:0;}
.clear { width:100%; height:0; clear:both; line-height:0; font-size:0; margin:0 auto; padding:0; }
.fl{ float:left;}
.fr{ float:right;}
.clear10 { width:100%; height:10px; clear:both; line-height:0; font-size:0; margin:0 auto; padding:0; }
.clear15 { width:100%; height:15px; clear:both; line-height:0; font-size:0; margin:0 auto; padding:0; }
a { text-decoration:none; color:#666; }
a:hover { color: /*#0069b3*/#F00; }

/*顶部*/

.top{ width:100%; height:560px; background:url(../img/bg.jpg) no-repeat center top; background-size:cover; padding-top:220px; min-width:1000px;}
.top-line{ width:100%; height:330px; background:url(../img/mohu.png) repeat; min-width:1000px;}
.top-line-bg{ width:1000px; height:330px; margin:0 auto; background:url(../img/pointmap.png) no-repeat 20px center; position:absolute;}
.top-line-bg span.logo01{ position:absolute; top:90px; left:140px;}
.top-line-bg span.logo02{ position:absolute; top:170px; left:400px;}
/*主体部分*/
.main{ width:1000px; margin:0 auto;}
.main .little-tit{ margin:6px 0;}
.main .span-main{ font:"微软雅黑"}
.main .span-main .span{ background:#f2f2f2; padding:20px 15px; font-size:12px;}
.main .span-main .span p{ text-indent:2em; line-height:26px; color:#000; }
.main .span-main h3{ text-align:left; line-height:60px; font-size:18px; font-weight:bold; color:#fc7b2b; padding:0; margin:0;}
.main .span-main .shu-text{ width:100%; height:250px; background:url(../images/bg001.png) no-repeat center center;}
.main .span-main .shu-text .shu-text-left,.main .span-main .shu-text .shu-text-right{ width:50%; height:100%;}
.main .span-main .shu-text .shu-text-left span{ display:block; padding:15px; color:#fff;}
.main .span-main .shu-text .shu-text-right span{ display:block; padding:15px; color:#fc7b2b;}
.main .span-main .shu-text .shu-text-left span p,.main .span-main .shu-text .shu-text-right span p{ line-height:32px; text-align:justify; font-size:14px;}
.main .span-main .img{ margin:10px 0;}
.main .imgtit{}
.main .imgtit img{ margin:5px 0;}
.main .lj{ padding:0 15px}
.main .lj span{ display:block;}
.main .lj span a{ display:block; float:left; color:#3478cc; font-size:16px; line-height:36px; padding:0 30px;}

.main .lxwm{ margin:15px 0; border:1px solid #ccc; height:270px; width:100%; background:url(../images/kf.png) no-repeat left center; }
.main .lxwm .lxwm-text{ width:620px; margin-left:370px; font-size:14px; color:#333;}
.main .lxwm .lxwm-text .lxwm-text-lf{ width:50%;}
.main .lxwm .lxwm-text .lxwm-text-lf  img{ margin-top:40px;}
.main .lxwm .lxwm-text .lxwm-text-lf  span{ }
.main .lxwm .lxwm-text .lxwm-text-lf  span p{ line-height:30px;}
.main .lxwm .lxwm-text .lxwm-text-ri{ width:50%; padding-top:94px;}
.main .lxwm .lxwm-text .lxwm-text-ri  span{ display:block;}
.main .lxwm .lxwm-text .lxwm-text-ri  span p{ line-height:28px;}

/*底部*/
.foot{ width:100%; height:90px; background:#fc7b2b; min-width:1000px;}
.foot p{ display:block; width:1000px; margin:0 auto; line-height:90px; height:90px; text-align:center; color:#fff; font-size:15px;}

