.lite-login{
    width: 300px;
    height: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -165px;
    background-color:rgba(255, 255, 255, 0.8);
    border: 1px solid #68e4c3;
    z-index: 1000;
    border-radius: 20px;
}

.closeBar{
    width: 100%;
    height: 50px;
    background-attachment: fixed;
}
.close{
    width: 30px;
    height: 30px;
    text-align: right;
    vertical-align: middle;
    color: #fff;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}
.barTitle{
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #32a295c9;
}

.loginUserName {
	padding-left:30px;
	padding-top:30px;
}
.loginPassword {
	padding-left:30px;
}
input{
    width: 60%;
    padding: 10;
    height: 30px;
    border-radius: 10px;
    position: relative;

}
button{
    border:0;
	background:#32a295c9;
	color:#ffffff;
	width:60px;
    height:30px;
    margin-right: 40px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
    left: 40px;
}
.foot{
    position: relative;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;

}
.hide{
    display: none;
}