<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a>首页</a> &gt;
                <a>交易规则</a> &gt;
                <a>交易管理办法</a> &gt;

            </td>
        </tr>
    </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="729" height="560" align="center" valign="top" bgcolor="#edfcf8">

                <table width="95%" border="0" cellspacing="0" cellpadding="0" style="margin:6px 0">

                    <tbody>
                        <tr>
                            <td height="26" align="left">
                                <ul *ngFor="let item of jygz">
                                    <li><a [routerLink]="['/jygz-detail', item.jiaoYiGuiZe.id]">· {{item.jiaoYiGuiZe.title}}</a></li>
                                </ul>
                            </td>
                            <!-- <td width="90" align="center">2019-04-01</td> -->
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>