<!-- <p>my-auction works!</p> -->
<table>
    <tr>
        <th>项目编号</th>
        <th>项目名称</th>
        <th>操作</th>
        
    </tr>
    <tr *ngFor="let item of myProjectList">
        <td>{{item.baoMingXinXi.projectID}}</td>
        <td>{{item.baoMingXinXi.projectName}}</td>
        <td>
            <button pButton class="p-button-warning" label="缴纳保证金"></button>
            <button pButton class="p-button-success" routerLink="/auction/auctioning" label="进入竞拍"></button>
        </td>

    </tr>
    
</table>