<!-- <p>my-auction works!</p> -->
<table>
    <tr>
        <td>
            <img src="../../../assets/img/bg.jpg">
        </td>
        <td>
            <p-card header="题目" [style]="{'width': '25rem','height':'20rem', 'margin-bottom': '0em'}">
                <p>一直都非常喜欢的一首歌分享给大家《Flower Dance》Flower Dance直译为花之舞。作者Dj Okawari来自于日本静冈县不过现在网易云版权已经没有了歌曲开头的对话片段引用自一部意大利电影《Assignment:Outer Space》（又名Space man，法语Le vainqueur de l'espace）的对话。

                    作者：柚子
                </p>
            </p-card>
        </td>
        <td>
            <button pButton class="p-button-warning" label="缴纳保证金"></button>
            <button pButton class="p-button-success" routerLink="/auction/auctioning" label="进入竞拍"></button>
        </td>
    </tr>
</table>