<div class="swiper-container" >
    <div class="swiper-wrapper">
        <ng-container *ngFor="let item of swiperList; let i = index">
            <div class="swiper-slide" *ngIf="i<5">
                <a [routerLink]="['/newsdetail', item.id]" routerLinkActive="router-link-active" ><img [src]="item.imgUrl" width="450px" height="278" alt=""> </a>  
            </div>                            
        </ng-container>
    </div>                    
    <!-- 如果需要分页器-->
    <!-- <div class="swiper-pagination"></div> -->
    
    <!-- 如果需要导航按钮 -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
    
    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>