
	<app-header></app-header>

	<div>
		<table border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:7px;" >
			<tbody>
				<tr>
					<td width="268" align="center" valign="top" bgcolor="#edfcf8">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_t">
							<tbody>
								<tr>
									<td height="50" align="center" background="../../../assets/img/list.jpg">竞价中心</td>
								</tr>
							</tbody>
						</table>
						<table width="213" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td height="12"></td>
								</tr>
								<tr>
									<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">报名项目</td>
								</tr>
								<tr>
									<td height="12"></td>
								</tr>
								<tr>
									<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
										<a routerLink="">竞价项目</a>
									</td>
								</tr>							
								<tr>
									<td height="12"></td>
								</tr>
								<tr>
									<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
										<a routerLink="">结束项目</a>
									</td>
								</tr>
								<tr>
									<td height="12"></td>
								</tr>	
								<tr>
									<td height="37" align="center" (click)="showLoginDialog()" background="../../../assets/img/listbg.jpg" class="list_nav">
									个人中心 
									
								</tr>						
							</tbody>
						</table>
					</td>
					<td align="right" valign="top">&nbsp;</td>
					<td width="722" align="right" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td height="31" align="left" class="pos">当前位置：
										<a>首页</a> &gt;
										<a>竞价中心</a> &gt;
									</td>
								</tr>
							</tbody>
						</table>
						<table  width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td width="729" height="560" align="center" valign="top" bgcolor="#edfcf8">
										<table  width="95%" border="0" cellspacing="0" cellpadding="0"  id="idData" style="margin:6px 0">
											<tbody>
												<tr >
													<td height="26" align="left">·													
															<a ></a>														
													</td>
													<td width="90" align="center">
														<p-dialog header="登录" [(visible)]="displayLogin" [style]="{width: '25vw',color:'A4EDD2'}" [baseZIndex]="10000">
															<br><br>																
															<input id="name" type="text" size="40" pInputText placeholder="请输入登录名/手机号:">																
															<br><br>
															<input id="password" type="text" size="40" pInputText placeholder="请输入密码"> 
															<br><br>																
															<div style="float: left;">
																<span>
																<input type="checkbox" label="记住密码">记住密码
																</span>																																
															</div>
															<br><br>										
															<p-footer>
																<button type="button" pButton icon="pi pi-check" (click)="displayLogin=false" label="登录"></button>
																<button type="button" pButton icon="pi pi-check" (click)="displaySignInDialog()" label="注册"></button>
															</p-footer>
														</p-dialog>
														<!-- 注册dialog -->
														<p-dialog header="注册" [(visible)]="displaySignIn" [style]="{width: '25vw'}" [baseZIndex]="10000">
															<br><br>
															<input id="name" type="text" size="40" pInputText placeholder="单位或个人"> 
															<br><br>
															<input id="phone" type="text" size="40" pInputText placeholder="手机号"> 
															<br><br>															
															<input id="password" type="text" size="40" pInputText placeholder="请输入密码">
															<br><br>
															<input id="repassword" type="text" size="40" pInputText placeholder="确认密码"> 
															<br><br>
															<div>
																<span>
																<input type="checkbox" label="记住密码">同意 "服务条款"， "用户须知" 和 "隐私相关政策"。
																</span>																																
															</div>	
															<br><br>									
															<p-footer>
																<button type="button" pButton icon="pi pi-check" (click)="showLoginDialog()" label="登录"></button>
																<button type="button" pButton icon="pi pi-check" (click)="displaySignIn=false" label="注册"></button>
															</p-footer>
														</p-dialog>
													</td>
													
												</tr>	
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table width="60%" align="right">
							<tr><td><div id="barcon" name="barcon"></div></td></tr>
						</table>
					</td>
				</tr>
			</tbody>
			</table>
			
	</div>





