html{
    -webkit-tap-highlight-color:rgba(0,0,0,1)
}
.leftnav{
    height: 37px;
    align: center;
    background-image:"../../../assets/img/listbg.jpg";
}
.mydialog {
    width: 25vw;   
    background-color: aliceblue;
}
.p-dialog .p-dialog-content {
    overflow-y: auto;
    background: #fff;
}
.p-dialog .p-dialog-header {
    overflow-y: auto;
    background: #fff;
}

