<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="186" >
                <img src="../../../assets/img/headerbg.jpg" width="1002" height="186" />                
            </td>
        </tr>
    </tbody>
</table>
<!--总体导航：首页 新闻中心  政策法规 等 日期实现 天气显示 搜索框未实现-->
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7" background="../../../assets/img/navbg.jpg">
    <tbody>
        <tr>
            <td width="2">
                <img src="../../../assets/img/navl.jpg" width="2" height="41" />
            </td>
            <td class="nav">
                <table width="98%" border="0" align="center" cellpadding="0" class="nav_f">
                    <tbody>
                        <tr>
                            <td width="80" align="center">
                                <a  routerLink="/index" routerLinkActive="router-link-active" >首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/xwdt" >新闻中心</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink='/zcfg'>政策法规</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/jyggall/zhuanrang">交易公告</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/jygz/propertyMM">交易规则</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/login">电子竞价</a>
                            </td>
                            <td></td>
                            <!--交易平台-->
                            <td width="80" align="center">
                                <a href="http://218.29.137.134:4200">交易平台</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/zhcx">综合查询</a>
                            </td>
                            <td></td>

                            <td width="80" align="center">
                                <a routerLink="/hdjl/ask-service">互动交流</a>
                            </td>
                            <td></td>
                            <td width="80" align="center">
                                <a routerLink="/lxwm">联系我们</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="2">
                <img src="../../../assets/img/navr.jpg" width="2" height="41" />
            </td>
        </tr>
        <tr>
            <!--时间，天气，快速检索占位-->
        </tr>
    </tbody>
</table>
<app-time-header [username]="user"></app-time-header>