<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a routerLink = "/home">首页</a>&gt;
                <a>互动交流</a>&gt;
                <a>常见问题</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <form id="teseForm" action="/nccqjy/jswebportal.do?method=zixuntousuSave" method="post" enctype="multipart/form-data">
      
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #eaeaea;">
            <tbody>
                <tr>
                    <td id="title" height="58" align="center" bgcolor="#f5f5f5" style="font-size:19px; color:#333; font-weight:bold; font-family:'微软雅黑';">常见问题</td>
                </tr>
                <tr>
                    <td height="58" align="left" bgcolor="#f5f5f5" style="text-indent:26px; font-size:14px; line-height:26px;">
                        <div style="padding:5px 20px 7px 20px;">农村产权交易所的发展离不开您的智慧和贡献，如果您对农村产权交易所的建设和发展有什么好的建议和意见，
                            请给我们来信。请务必提供您的正确邮箱地址。信息提交完成后需要等待管理员处理，没有按要求正确填写信息的将不予发布。
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" height="500" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #eaeaea;margin-top:7px;">
            <tbody>
                <tr>
                    <td align="center" bgcolor="#f5f5f5" style="padding:10px 0">
                        <form >
                            <table width="96%" border="0" cellpadding="0" cellspacing="0" class="hd_sqb">
                                <tbody>
                                    <tr *ngFor="let item of replayList">
                                        <div class="qa-item-c">
                                            <div class="qa-tite-c">
                                                <div class="qa-title">{{item.answer.title}}</div>
                                                <div class="qa-time">{{item.answer.createTime | date:'yyyy-MM-dd'}}</div>
                                                <div class="qa-asker">{{item.answer.userName}}</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="qs-content-c">
                                                <div class="question">{{item.answer.title}}</div>
                                                <img src="assets/img/ask-line.jpg" class="split-img">
                                                <div class="answer-c">［回复］{{item.answer.content}}</div>
                                                <!-- <div class="ask-footer">
                                                    <div class="answer-date">2021-03-30 20:03:44</div>
                                                    <div class="clear"></div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="qa-item-c">
                                            <div class="qa-tite-c">
                                                <div class="qa-title">test问题</div>
                                                <div class="qa-time">2021-03-30</div>
                                                <div class="qa-asker">刘</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="qs-content-c">
                                                <div class="question">这是一个test问题</div>
                                                <img src="assets/img/ask-line.jpg" class="split-img">
                                                <div class="answer-c">［回复］这是test回复</div>
                                                <!-- <div class="ask-footer">
                                                    <div class="answer-date">2021-03-30 20:03:44</div>
                                                    <div class="clear"></div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="qa-item-c">
                                            <div class="qa-tite-c">
                                                <div class="qa-title">test问题</div>
                                                <div class="qa-time">2021-03-30</div>
                                                <div class="qa-asker">刘</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="qs-content-c">
                                                <div class="question">这是一个test问题</div>
                                                <img src="assets/img/ask-line.jpg" class="split-img">
                                                <div class="answer-c">［回复］这是test回复</div>
                                                <!-- <div class="ask-footer">
                                                    <div class="answer-date">2021-03-30 20:03:44</div>
                                                    <div class="clear"></div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <table width="725" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="50" align="center"><img (click)="save()" src="../../../assets/img/bt_tj.jpg" width="71" height="27">
                    </td>
                </tr>
            </tbody>
        </table> -->

    </form>
</div>