<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td height="31" align="left" class="pos">当前位置：
								<a routerLink = "/home">首页</a> &gt;
								<a routerLink = "/jyggall/chengjiao" >交易公告</a> &gt;
								<a  routerLink = "/jyggall/chengjiao">成交公告</a> &gt;
							</td>
						</tr>
					</tbody>
				</table>
<div style="background-color: #EDFCF8; height: 700px;">
	<p-table [columns]="cols" [value]="cjxx" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
        totalRecords="totalRecords" pageLinks="3">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td height="28" class="num" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" >{{rowData.chengJiaoXinXi.id}}</td>
				<td align="center" class="tit TheId">
					<a [routerLink] = "['/cjggdetail',rowData.chengJiaoXinXi.id]"  >
						<div class="textCss div1" >&nbsp;{{rowData.chengJiaoXinXi.xiangMuMingCheng}}</div>
					</a>
				</td>
				<td align="center"><span class="tit">{{rowData.chengJiaoXinXi.chengJiaoJiaGe}} {{rowData.chengJiaoXinXi.chengJiaoJiaGeDanWei | jgdwType}}</span></td>
				<td class="num" align="center">{{rowData.chengJiaoXinXi.chengJiaoShiJian | date:'yyyy-MM-dd'}}</td>
            </tr>
        </ng-template>
    </p-table>
	<!-- <br>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="show_data">
		<tbody >			
			<tr class="title">
				<td width="140" height="25" align="center">项目编号</td>
				<td align="center">项目名称</td>
				<td width="185" align="center">成交价格</td>
				<td width="90" align="center">公示日期</td>
			</tr>
			<tr *ngFor="let item of cjxx; let i = index">
				<td height="28" class="num" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" >{{item.chengJiaoXinXi.id}}</td>
				<td align="center" class="tit TheId">
					<a [routerLink] = "['/cjggdetail',item.chengJiaoXinXi.id]"  >
						<div class="textCss div1" >&nbsp;{{item.chengJiaoXinXi.xiangMuMingCheng}}</div>
					</a>
				</td>
				<td align="center"><span class="tit">{{item.chengJiaoXinXi.chengJiaoJiaGe}} {{item.chengJiaoXinXi.chengJiaoJiaGeDanWei | jgdwType}}</span></td>
				<td class="num" align="center">{{item.chengJiaoXinXi.chengJiaoShiJian | date:'yyyy-MM-dd'}}</td>
			</tr>
		</tbody>
	</table> -->
</div>

