.textCss{
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap; 
}
.div1{
    width:305px;
    height:28px; 
    line-height:25px;
}
table tr th {
    margin: auto;
    text-align:center;
}
.titw{
    margin: auto;
    text-align: center;
}
.TitleName{
    width:305px;
    height:28px; 
    line-height:25px;  
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
}
.TheId{
    width:"200";
    height:"30";
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
}
.num{
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap; 
}