<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mart7">
    <tr>
        <td width="76" height="31" background="../../../assets/img//titbg5.jpg" class="titw">成交公告</td>
        <td align="right" background="../../../assets/img//titbg6.jpg">
            <a href="../_jygg/cjgg.html" target="_blank">更多 &gt;&gt;</a>&nbsp;&nbsp;</td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ntrbord">
    <tr>
        <td height="176" valign="top" bgcolor="#FFFFFF">
            <table id="cjgglist" width="100%" border="0" cellspacing="0" cellpadding="0" class="jygg1">
                <tr>
                    <th width="140" height="30">项目编号</th>
                    <th>项目名称</th>
                    <th width="185">交易地点</th>
                    <th width="90">公示日期</th>
                </tr>

                <tr>
                    <td height="28" class="num">320115008D19030001</td>
                    <td align="left" class="tit">
                        <a routerLink = "/cjggdetail" target="_blank">
                            <div class="textCss div1" >&nbsp;马村区马村街道社区干巴沼水面</div>
                        </a>
                    </td>
                    <td   ><span class="tit">焦作市马村区马村街道</span></td>
                    <td class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28"    class="num">321003100N19030001</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="textCss div1">&nbsp;焦北街道2019年河塘管护工程</div>
                        </a>
                    </td>
                    <td><span class="tit">焦作市焦北街道 </span></td>
                    <td class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28"    class="num">320324103A19030003</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;山阳区街道二组土地流转</div>
                        </a>
                    </td>
                    <td><span class="tit">焦作市山阳区街道 </span></td>
                    <td class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28" class="num">320324103A19030007</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;中站区月山街道五组土地流转</div>
                        </a>
                    </td>
                    <td   ><span class="tit">焦作市中站区月山街道</span></td>
                    <td    class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28"    class="num">321012121Q19030003</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;焦北街道农贸市场蔬菜自产自销摊位续租</div>
                        </a>
                    </td>
                    <td ><span class="tit">焦作市焦北街道 </span></td>
                    <td class="num">2019-03-27</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
