<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mart7">
    <tr>
        <td width="76" height="31" background="../../../assets/img//titbg5.jpg" class="titw">成交公告</td>
        <td align="right" background="../../../assets/img//titbg6.jpg">
            <a routerLink="/jyggall/chengjiao" target="_blank">更多 &gt;&gt;</a>&nbsp;&nbsp;</td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ntrbord">
    <tr>
        <td height="176" valign="top" bgcolor="#FFFFFF">
            <table id="cjgglist" width="100%" border="0" cellspacing="0" cellpadding="0" class="jygg1">
                <tr>
                    <th class="TheId" >项目编号</th>
                    <th>项目名称</th>
                    <th width="185">交易地点</th>
                    <th width="90">交易日期</th>
                </tr>

                <tr *ngFor="let item of cjxx; let i = index">
                    <td height="28" class="num" >{{item.chengJiaoXinXi.id}}</td>
                    <td align="left" class="tit TheId">
                        <a [routerLink] = "['/cjggdetail',item.chengJiaoXinXi.id]" target="_blank">
                            <div class="textCss div1" >&nbsp;{{item.chengJiaoXinXi.xiangMuMingCheng}}</div>
                        </a>
                    </td>
                    <td   ><span class="tit">{{item.chengJiaoXinXi.biaoDiQuYu}}</span></td>
                    <td class="num">{{item.chengJiaoXinXi.chengJiaoShiJian | date:'yyyy-MM-dd'}}</td>
                </tr>

                <!-- <tr>
                    <td height="28"    class="num">321003100N19030001</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="textCss div1">&nbsp;城关镇2019年河塘管护工程</div>
                        </a>
                    </td>
                    <td><span class="tit">范县城关镇 </span></td>
                    <td class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28"    class="num">320324103A19030003</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;城关镇二组土地流转</div>
                        </a>
                    </td>
                    <td><span class="tit">范县城关镇 </span></td>
                    <td class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28" class="num">320324103A19030007</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;辛庄乡五组土地流转</div>
                        </a>
                    </td>
                    <td   ><span class="tit">范县辛庄乡</span></td>
                    <td    class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28"    class="num">321012121Q19030003</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="TitleName">&nbsp;城关镇农贸市场蔬菜自产自销摊位续租</div>
                        </a>
                    </td>
                    <td ><span class="tit">范县城关镇 </span></td>
                    <td class="num">2019-03-27</td>
                </tr> -->

            </table>
        </td>
    </tr>
</table>
