<app-header></app-header>

<table width="998" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:7px;">
	<tbody>
		<tr>
			<td width="268" align="center" valign="top" bgcolor="#edfcf8">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_t">
					<tbody>
						<tr>
							<td height="50" align="center" background="../../../assets/img/list.jpg">互动交流</td>
						</tr>
					</tbody>
				</table>
				<table width="213" border="0" cellspacing="0" cellpadding="0">
					<tbody>
					<tr>
							<td height="12"></td>
						</tr>
						<tr>
							<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
								<a routerLink="/hdjl/ask-service">咨询服务</a>
							</td>		

						</tr>
						<br>
						<tr>
							<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
								<a routerLink="/hdjl/common-ask">常见问题</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="right" valign="top">&nbsp;</td>
			<td width="729" align="right" valign="top">
				<router-outlet></router-outlet>
			</td>
		</tr>
	</tbody>
</table>
