@charset "utf-8";
body { margin:0px;padding:0px; background:#f1f1f1; font-size:16px; font-family:"宋体";color:#555}

a { text-decoration:none; color:#444}
a:hover { color:#f56800}

div,ul,li,span,p { margin:0px; padding:0px; list-style:none}

img { border:0px}

.mart7 { margin-top:7px;}

.ntbord { border:1px solid #d9d9d9; border-top:none}

.ntrbord { border:1px solid #d9d9d9; border-top:none;border-right:none}

.bormart { border:1px solid #d9d9d9; margin-top:7px;}

/* slidepic-01 */
.slidebox-01{width:362px;height:278px;overflow:hidden !important;position:relative;margin:0px;}
.slidepic-01{width: 1810px; position:absolute}/* 必要元素 */
.slidepic-01 li{height:278px;overflow:hidden;float:left;}
.slidepic-01 li .photo {width:362px;height:250px;}
.slidepic-01 li .photo img {width:362px;height:250px;}
.slidepic-01 li .txt { width:362px;height:28px; line-height:28px; text-align:center; background:#424242; color:#fff}
.slidepic-01 li a { color:#fff}
.slidebtn-01{position:absolute;bottom:28px;right:0px;float:right;}
.slidebtn-01 li{background:#fff;border:1px solid #d6d6d6;cursor:pointer;float:left;font-family:arial;height:15px;line-height:15px;width:18px;text-align:center;color:#222;font-size:12px}
.slidebtn-01 li.current{background:#007d4f;border:1px solid #00a66a;height:15px;line-height:15px;width:18px;color:#fff;font-size:12px; font-weight:bold;}

.nav { background: url(../img/navbg.jpg);}

.nav_f {font-size:14px;font-family:"微软雅黑","黑体"; font-weight:bold;color:#222;}
.nav_f a { text-decoration:none; color:#222; font-size:14px;font-family:"微软雅黑","黑体"; font-weight:bold}
.nav_f a:hover { color:#ff8400}

.news_sw { width:100%; margin:0 auto}
.news_sw ul { background:url(../img/newsw1.jpg);height:31px;}
.news_sw li {font-size:12px;font-family:"宋体"; color:#333; line-height:31px; cursor:pointer; height:31px; width:75px; float:left; text-align:center}
.news_sw .active { color:#000; font-weight:bold;font-family:"宋体"; background: url(../img/newsw.jpg);;line-height:31px; height:31px;}

.head_l { color:#cd0a0a; font-size:18px; font-family:"微软雅黑","黑体"; font-weight:bold; border-bottom:1px solid #d8d8d8}
.head_l a {color:#cd0a0a;}
.head_l a:hover { text-decoration:underline}

.sea_select { border:1px solid #d8d8d8; width:150px; font-size:12px; font-family:"宋体";height:21px; line-height:23px; color:#999;}
.sea_input  { border:1px solid #d8d8d8; width:146px; font-size:12px; font-family:"宋体"; height:18px;line-height:18px;color:#999; padding-top:2px; padding-left:4px}

.titw { font-weight:bold; font-size:12px; color:#fff}

.slide { width:740px; margin-left:0; margin-top:7px;}
.slide .prev,.slide .next {height:100px;width:10px;display:block;text-decoration:none;cursor:pointer;}
.slide .prev {float:left;background: url(sliderl.jpg) no-repeat; margin-right:4px;}
.slide .next {float:left;background:url(slider.jpg) no-repeat; margin-left:4px;}

.img_s { width:710px; height:100px; float:left; overflow:hidden;}
.img_s li {width:81px; height:100px; margin:0 4px; cursor:pointer;background: url(sliderbg.jpg) no-repeat; text-align:center}  
.img_s p { height:60px; width:81px;text-align:center; float:none; padding-top:12px;}
.img_s span { height:24px; line-height:24px; text-align:center; width:81px; color:#000; font-size:12px;display:block; font-weight:bold}

.jygg th{ background:#d5f2eb;border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8;color:#009a65; font-weight:bold}
.jygg td { border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8}

.jygg1 th{ background:#f8efdc;border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8; color:#e17800; font-weight:bold}
.jygg1 td { border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8}

.show_data { border:1px solid #d8d8d8;font-family:"宋体"; color:#666;}
.show_data th { border-bottom:1px solid #d8d8d8; font-size:12px; color:#000; font-weight:bold; background:#f4f4f4}
.show_data td { border-bottom:1px dotted #d5d5d5; border-right:1px dotted #d5d5d5;}
.show_data .chage {background:#f6f6f6}
.show_data .num {font-family: Tahoma, Geneva, sans-serif;}
.show_data .tit { text-indent:8px;}
.show_data a { color:#222;}
.show_data a:hover{color:#F55E0C}

.pos { text-indent:10px; color:#000; font-weight:bold; background:#a4edd2; border-bottom:1px solid #52c3a2}
.pos a {color:#000;}
.pos a:hover {color:#FF8000}

.list_t {font-size:18px; font-weight:bold; font-family:"微软雅黑"; color:#fff}

.list_nav { font-size:14px; font-weight:bold;font-family:"宋体"; color:#005737}
.list_nav a { color:#005737}
.list_nav a:hover { color:#FF8000}

.red_txt { color: #F00}

.bd_sqb {border-top:1px solid #eaeaea; border-left:1px solid #eaeaea; margin-top:7px;}
.bd_sqb th{ background:#f5f5f5; color:#000; font-weight:bold}
.bd_sqb .tti { background:#f5f5f5; color:#000; font-weight:bold;}
.bd_sqb td{ border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea; color:#555; height:30px; line-height:30px;}
.bd_sqb input[type="text"] { margin-left:6px; border:1px solid #eee; font-size:12px; color:#666; padding:0px; line-height:20px; height:20px;}
.bd_sqb textarea { margin:6px 0; margin-left:6px; border:1px solid #eee; font-size:12px; line-height:20px}

.no_bord { margin:6px 0}
.no_bord td{ border:0px; line-height:25px; position: relative; text-indent:22px;color:#555}
.no_bord input[type="checkbox"] { margin:0px; padding:0px; position:absolute;top:6px;left:6px; border:1px solid #ddd}

.hd_sqb { margin-top:7px;}
.hd_sqb td{color:#555;}
.hd_sqb input[type="text"] { margin-left:6px; border:1px solid #eee; font-size:12px; color:#666; padding:0px; line-height:20px; height:20px;}
.hd_sqb textarea { margin:6px 0; margin-left:6px; border:1px solid #eee; font-size:12px; line-height:20px}

a.dailog {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
background-color: #f7d100;
  background: -webkit-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: -moz-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: -o-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: linear-gradient(to bottom,#f7d100 0,#f7a300 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7d100,endColorstr=#f7a300,GradientType=0); border:1px solid #ff7e00;height:20px; line-height:20px; font-size:12px; color:#fff; font-family:"宋体"; font-weight:bold; padding:2px 10px 0px 10px; margin:0xp;display:block; text-decoration:none; float:left; margin-left:5px;}
a.dailog:hover {background-color: #ff7e00;
  background: -webkit-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: -moz-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: -o-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: linear-gradient(to bottom,#ff7e00 0,#ffb400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7e00,endColorstr=#ffb400,GradientType=0);}
