<table class="tableWidth">
    <tr>
        <td width="76" height="31" align="center" background="../../../assets/img/titbg3.jpg" class="titw">转让信息</td>
        <td align="right" background="../../../assets/img/titbg4.jpg">
            <a href="#!/zrxx" target="_blank">更多 &gt;&gt;</a>&nbsp;&nbsp;</td>

    </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ntrbord">
    <tr>
        <td height="176" align="center" valign="top" bgcolor="#FFFFFF">
            <table id="zhangranglist" class="jygg">
                <tr>
                    <th class="thSty" >项目编号</th>
                    <th align="center" >项目名称</th>
                    <th width="185">登记地点</th>
                    <th width="90" align="center">登记日期</th>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">320905053N18120009-1</td>
                    <td align="left" class="tit">
                        <a routerLink = "/zrxxdetail">
                            <div class="textDiv overText" >&nbsp;焦北街道社区服务中心管护</div>
                        </a>
                    </td>
                    <td align="center"><span class="tit">焦作市焦北街道社区 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                </tr>						
                <tr>
                    <td height="28" align="center" class="num">320682107N19030026</td>
                    <td align="left" class="tit">
                        <a href="../_jygg/zrxx/1.html" target="_blank">
                            <div  class="textDiv overText" >&nbsp;马村区马村街道街道扩宽清杂工程</div>
                        </a>
                    </td>
                    <td align="center"><span class="tit">焦作市马村区马村街道街道 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">321283113P19030062</td>
                    <td align="left" class="tit">
                        <a href="#" >

                            <div class="textDiv overText">&nbsp;马村区马村街道用挖机</div>
                        </a>
                    </td>
                    <td align="center"><span class="tit">焦作市马村区马村街道 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">321182001N19030076</td>
                    <td align="left" class="tit">
                        <a href="#">

                            <div class="textDiv overText">&nbsp;东方红街道居民点社会主义核心价值观小品牌建设</div>
                        </a>
                    </td>
                    <td align="center"><span class="tit">焦作市东方红街道 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
