.textDiv{
    width:305px;
    height:28px; 
    line-height:25px;
}
.thSty{
    width:"120px";
    height:"30";
}
.jygg{
    border: 0px;
    width: 100%;
    border: 0px;
    background-color: #fff;
    
}
.overText{      
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
}
.tableWidth{
    width: 100%;
    border: 0px;
}
table tr th {
    margin: auto;
    text-align:center;
}
.num{
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap; 
}
