.textDiv{
    width:305px;
    height:28px; 
    line-height:25px;
}
.thSty{
    width:"140";
    height:"30";
    align:"center"
}
.jygg{
    width: 100%;
    border: 0px;
}
.overText{      
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
}
.tableWidth{
    width: 100%;
    border: 0px;
}
td,th {
    align-items: center;
}