<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a>首页</a>&gt;
                <a>互动交流</a>&gt;
                <a>咨询服务</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <form id="teseForm" action="/nccqjy/jswebportal.do?method=zixuntousuSave" method="post"
        enctype="multipart/form-data">
        <input id="status" name="status" type="hidden" value="">
        <input id="zxtsId" name="id" type="hidden" value="">
        <input id="unitId" name="unitId.unitId" type="hidden" value="1">
        <input id="type" name="type" type="hidden" value="4">
        <input type="hidden" id="page" name="page" value="1">

        <table width="725" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #eaeaea;">
            <tbody>
                <tr>
                    <td id="title" height="58" align="center" bgcolor="#f5f5f5"
                        style="font-size:19px; color:#333; font-weight:bold; font-family:'微软雅黑';">咨询服务</td>
                </tr>
                <tr>
                    <td height="58" align="left" bgcolor="#f5f5f5"
                        style="text-indent:26px; font-size:14px; line-height:26px;">
                        <div style="padding:5px 20px 7px 20px;">农村产权交易所的发展离不开您的智慧和贡献，如果您对农村产权交易所的建设和发展有什么好的建议和意
                            见，请给我来信。请务必提供您的正确邮箱地址。信息提交完成后需要等待管理员处理，没有按要求正确填写信息的将不予发布。
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="725" height="500" border="0" cellspacing="0" cellpadding="0"
            style="border:1px solid #eaeaea;margin-top:7px;">
            <tbody>
                <tr>
                    <td align="center" bgcolor="#f5f5f5" style="padding:10px 0">
                        <form [formGroup]="hdjlForm">
                            <table width="96%" border="0" cellpadding="0" cellspacing="0" class="hd_sqb">
                                <input name="enews" type="hidden" value="AddFeedback">
                                <tbody>
                                    <tr>
                                        <td width="120" height="31" align="center"><span class="red_txt">*</span>
                                            <strong id="biaoti">咨询服务</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="60" name="title"
                                                id="Title" type="text" value="" formControlName="title"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><span class="red_txt">*</span>
                                            <strong>姓名</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="40" name="name"
                                                id="Name" type="text" value="" formControlName="userName"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><strong>通讯地址</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="40" name="address"
                                                id="Address" type="text" value="" formControlName="address"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><strong>电子邮件</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="40" name="email"
                                                id="Email" type="text" value="" formControlName="email"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><strong>手机号码</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="40" name="telephone"
                                                id="Telephone" type="text" value="" formControlName="phone"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><strong>邮政编码</strong></td>
                                        <td colspan="3" align="left" valign="center"><input size="40" name="postcodes"
                                                id="Postcodes" type="text" value="" formControlName="postCode"></td>
                                    </tr>
                                    <tr>
                                        <td height="31" align="center"><span class="red_txt">*</span><strong
                                                id="content">咨询内容</strong></td>
                                        <td colspan="3" align="left" valign="center"><textarea name="content"
                                                id="Content" cols="50" rows="5" style="width:540px; height:88px;"
                                                formControlName="content"></textarea></td>
                                    </tr>

                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="725" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="50" align="center"><img (click)="save()" src="../../../assets/img/bt_tj.jpg" width="71"
                            height="27">
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</div>