<div> 
   
    <!--顶部状态!-->
    <div id="head1">
        <ul>
            <li>
                <h1>范县产权交易电子竞价系统</h1>
            </li>
        </ul>
    </div>
    <div class="login_bg">
        <ul>
            <li>
                <div class="right_bg">
                    <table width="286" border="0" cellspacing="0" cellpadding="0"
                        style=" margin:0 auto;margin-top:20px;" align="center">
                        <tbody>
                            <tr>
                                <td id="loginTd">登录会员账号参与网上交易</td>
                            </tr>
                        </tbody>
                    </table>
                    <form (ngSubmit)="login()">

                        <div class="uname">
                            <input type="text" id="account" name="account" placeholder="请输入账号" [(ngModel)]="userName">
                        </div>
                        <div class="passw">
                            <input type="password" id="pwd" name="pwd" placeholder="请输入密码" [(ngModel)]="pwd"
                                onkeyup="this.value=this.value.replace(/^\s+|\s+$/g,'')">
                        </div>                 
                    
                    <!-- <div class="ms"><a href="/nccqjy/member/forgetpwd.do" routerLink="/forgetPwd">忘记密码 ？</a></div> -->
                    <button  type="submit"><a class="lbt" style="margin:0 auto" >登&nbsp;&nbsp;&nbsp;录</a></button>
                    <div class="ms1"><span>没有会员账号 ？</span><a routerLink="/regist">用户注册</a></div>
                </form>
                </div>
            </li>
        </ul>
    </div>
    <div id="bottom">
        技术支持：中微达软件科技有限公司
    </div>




</div>