<div> 
   
    <!--顶部状态!-->
    <div id="head1">
        <ul>
            <li>
                <h1>农村产权交易信息服务平台—会员服务</h1>
            </li>
        </ul>
    </div>
    <div class="login_bg">
        <ul>
            <li>
                <div class="right_bg">
                    <table width="286" border="0" cellspacing="0" cellpadding="0"
                        style=" margin:0 auto;margin-top:20px;" align="center">
                        <tbody>
                            <tr>
                                <td height="30" style="color:#555; font-size:16px; font-weight:bold" align="left">登录会员账号
                                    参与网上交易</td>
                            </tr>
                        </tbody>
                    </table>
                    <form (ngSubmit)="login()">

                        <div class="uname">
                            <input type="text" id="account" name="account" placeholder="请输入账号" [(ngModel)]="userName">
                        </div>
                        <div class="passw">
                            <input type="password" id="pwd" name="pwd" placeholder="请输入密码" [(ngModel)]="pwd"
                                onkeyup="this.value=this.value.replace(/^\s+|\s+$/g,'')">
                        </div>                    
                    
                    <div class="ms"><a href="/nccqjy/member/forgetpwd.do" routerLink="/forgetPwd">忘记密码 ？</a></div>

                    <button  type="submit"><a class="lbt" style="margin:0 auto"  routerLink="/auction">登&nbsp;&nbsp;&nbsp;录</a></button>
                    <div class="ms1"><span>没有会员账号 ？</span><a routerLink="/regist">用户注册</a></div>
                </form>
                </div>
            </li>
        </ul>
    </div>
    <div id="bottom">版权所有：中共江苏省委农村工作领导小组办公室<br>
        建设单位：江苏省信息中心 技术支持：南京南大尚诚软件科技有限公司（<a href="tel://025-84799003"><u>
                <font color="blue">025-84799003</font>
            </u></a>）<br>

        Copyright 2014-2020 jsnc.gov.cn All right reserved.<br>
        苏ICP备14007976号-2<br>
    </div>




</div>