<app-header></app-header>

<div class="body">
    <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style=" background-color:#ffffff; ">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff; border:0px" align="center" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：
                                    <a routerLink="/home">首页</a> -> 
                                    <a routerLink="/jyggall/chengjiao">交易公告</a> -&gt; 
                                    <a>成交公告</a></td>                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="497" height="341" align="left" valign="top">
                    <div class="slidebox-01 swiper-container" >
                        <div class="swiper-wrapper">
                            <ng-container *ngFor="let item of swiperList">
                                <div class="swiper-slide" >
                                    <img [src]="item.imgUrl" width="362px" height="278" alt=""> 
                                </div>                            
                            </ng-container>
                        </div>                    
                        <!-- 如果需要分页器-->
                        <div class="swiper-pagination"></div>
                        
                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        
                        <!-- 如果需要滚动条 -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                    
                </td>

                <td valign="top">

                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">{{xiangMuMingCheng}}成交公告</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <!-- <tr>
                                <td width="100" align="left" height="30">项目编号：</td>
                                <td height="30" align="left" colspan="3">{{id}}</td>
                            </tr> -->
                            <tr>
                                <td width="100" align="left" height="30">转出方式：</td>
                                <td height="30" align="left" colspan="3">{{liuZhuanFangShi | zcfsType}} </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">

                                    交易方式：
                                </td>
                                <td height="30" align="left" colspan="3">
                                    {{jiaoYiFangShi | jjfsType}}
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">乡镇（街道）:</td>
                                <td height="30" align="left" colspan="3">{{biaoDiQuYu}}</td>
                            </tr>
                            <!-- <tr>
                                <td width="100" align="left" height="30">村（社区）:</td>
                                <td height="30" align="left" colspan="3">仁寿社区</td>
                            </tr> -->
                            <!-- <tr>
                                <td width="100" align="left" height="30">组别：</td>
                                <td height="30" align="left" colspan="3"></td>
                            </tr> -->
                            <!-- <tr>
                                <td width="100" align="left" height="30">公示日期：</td>
                                <td height="30" align="left" colspan="3">2020-09-01</td>
                            </tr> -->


                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px">成交信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 项目信息开始  -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left" colspan="3"><span>成交时间：</span> {{chengJiaoShiJian | date:'yyyy-MM-dd'}} </td>
                                </tr>
                                <tr hidden>
                                    <td align="left" colspan="3"><span>项目底价：</span>
                                        {{chengJiaoJiaGe}} &nbsp;{{chengJiaoJiaGeDanWei}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left"><span>建设单位（受让方）：</span> {{shouRangFang }}</td>
                                    <td align="left" colspan="2"><span>预算总额：</span>{{chengJiaoJiaGe}}&nbsp;{{chengJiaoJiaGeDanWei}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>标的区域：</span>{{biaoDiQuYu}}
                                    </td>
                                </tr>

                                <!-- <tr>
                                    <td align="left" colspan="3"><span>项目周期：</span> 自合同签订后5个工作日内。
                                    </td>
                                </tr> -->

                                <tr style="display:none;">
                                    <td align="left" style="padding-bottom:10px;" colspan="3"><span>补充说明：</span> </td>

                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" style="width:10px"><span>项目审批信息</span></td>
                                    <td align="left" colspan="2"><span>项目审批表：</span>

                                        <!-- <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a73943187">IMG7584.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a73b43189">IMG7585.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>村民代表大会意见表：</span>
                                        <!-- <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a9f673191">IMG7587.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                    <!-- 项目信息结束  -->


                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">标段信息</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 判断标段信息开始 -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>

                                <!-- <tr>
                                    <td align="left" width="50%"><span>项目编号：</span>{{id}} </td>
                                    <td align="left" width="50%"></td>
                                </tr> -->
                                <tr>
                                    <td align="left" colspan="2"><span>标段描述：</span> {{beiZhu}} </td>
                                </tr>

                                <tr>
                                    <td align="left" colspan="2"><span>转出方</span>{{zhuanChuFang}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>保证金：</span>¥&nbsp;0</td>
                                </tr>

                                <tr hidden>
                                    <td align="left" colspan="2"><span>最高限价：</span>小写&nbsp;
                                       {{ chengJiaoJiaGe}} {{chengJiaoJiaGeDanWei}}&nbsp;</td>
                                </tr>


                                <tr>
                                    <td align="left"><span>转出期限：</span> {{years}}年

                                    </td>

                                    <td align="left"><span>转出面积/数量：</span> {{zhuanChuShuLiang}}亩</td>
                                </tr>

                                <!-- 成交 -->
                                <tr>
                                    <td align="left" colspan="2"><span>项目状态：</span>
                                        {{status | status}}
                                    </td>

                                    <!-- <td align="left"><span>成交日期：</span>{{chengJiaoShiJian}}</td> -->

                                </tr>

                                <tr>
                                    <td align="left"><span>法定代表人：</span>{{shouRangFang}}</td>
                                    <td align="left"><span>成交价：</span>小写&nbsp;
                                       {{chengJiaoJiaGe}}
                                        元</td>

                                </tr>

                                <!-- 成交结束 -->
                                <tr style="display:none;">
                                    <td align="left" colspan="2"><span>交易中心联系电话：</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 判断标段信息结束 -->
                    </div>


                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc2" style=" margin-top:7px; background-color:#ffffff; display:none;">
      <tr>
        <td align="center" width="1002"><img src="wsjjys/images/3.jpg" width="620" height="315" /></td>
      </tr>
      </tr>
    </table>
    <table width="998" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7">
      <tr>
        <td height="90" align="center" style="line-height:22px; border-top:3px solid #d8d8d8; background:#efefef">版权所有：河南省委农工办 河南省财政厅<br />
          建设单位：河南省信息中心 技术支持：南京南大尚诚软件科技有限公司<br />
        联系电话：025-83393917 苏ICP备14008292号</td>
      </tr>
    </table> -->



</div>