<app-header></app-header>

<div class="body">

    <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style=" background-color:#ffffff; ">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff; border:0px" align="center" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：<a>首页</a> -> <a>交易公告</a> -&gt; <a>成交公告</a></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr>
                <td width="497" height="341" align="left" valign="top">
                    <div class="slidebox-01 swiper-container" >
                        <div class="swiper-wrapper">
                            <ng-container *ngFor="let item of swiperList">
                                <div class="swiper-slide" >
                                    <img [src]="item.imgUrl" width="362px" height="278" alt=""> 
                                </div>                            
                            </ng-container>
                        </div>                    
                        <!-- 如果需要分页器-->
                        <div class="swiper-pagination"></div>
                        
                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        
                        <!-- 如果需要滚动条 -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                    <!-- <div class="slidebox-01">
                        <ul class="slidepic-01" style="left: -477px;">


                            <li>
                                <div class="photo"><img
                                        src="/nccqjy/portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a3e0d3181">
                                </div>
                                <div class="txt">


                                    仁寿社区五保户房屋维修1

                                </div>
                            </li>

                            <li>
                                <div class="photo"><img
                                        src="/nccqjy/portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a3e1d3182">
                                </div>
                                <div class="txt">


                                    仁寿社区五保户房屋维修2

                                </div>
                            </li>

                        </ul>
                        <div class="slidebtn-01">
                            <ul>


                                <li class="">1</li>

                                <li class="current">2</li>

                            </ul>
                        </div>
                    </div> -->
                </td>

                <td valign="top">

                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">仁寿社区五保户徐盛隆房屋维修项目</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <tr>
                                <td width="100" align="left" height="30">项目编号：</td>
                                <td height="30" align="left" colspan="3">321012118N20090002</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">产权类型：</td>
                                <td height="30" align="left" colspan="3">涉农资金项目</td>
                            </tr>
                            <tr>


                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">

                                    交易期限：
                                </td>
                                <td height="30" align="left" colspan="3">

                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">乡镇（街道）:</td>
                                <td height="30" align="left" colspan="3">大桥镇</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">村（社区）:</td>
                                <td height="30" align="left" colspan="3">仁寿社区</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">组别：</td>
                                <td height="30" align="left" colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">公示日期：</td>
                                <td height="30" align="left" colspan="3">2020-09-01</td>
                            </tr>


                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px">产权信息</td>
                                </tr>
                            </tbody>
                        </table>



                        <!-- 项目信息开始  -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left" colspan="3"><span>登记日期：</span>2020-09-01</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>产权类型：</span>
                                        危房修缮 &nbsp;




                                    </td>
                                </tr>
                                <tr>
                                    <td align="left"><span>建设单位：</span> 大桥镇仁寿社区 </td>
                                    <td align="left" colspan="2"><span>预算总额：</span>5,070.00元</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>资金来源：</span>


                                        其他&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" colspan="3"><span>项目周期：</span> 自合同签订后5个晴天内。
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        <span>项目描述：</span>扬州市江都区大桥镇仁寿社区五保户徐盛隆一人居住生活，无配偶子女，靠五保金生活，由于天气恶劣导致房屋破损严重无法居住，经村两委会讨论决定，同意由李秋香负责对徐盛隆房屋维修，有关事项如下：
                                        1、工程名称：大桥镇仁寿社区五保户徐盛隆房屋维修项目。
                                        2、工程概况：
                                        具体要求如下：
                                        屋顶要求全部用黑大瓦重新盖顶，约30个平方；内里用三角板封面,要求刷白；配套水电。
                                        工程造价：5070元（含税价）。
                                        3、工程实施地点：扬州市江都区大桥镇仁寿社区五保户徐盛隆家。
                                        4、工期：自合同签订后5个晴天内。
                                        5、质量等级要求：合格。
                                        6、资金来源：村级自筹。
                                        7、付款方式：工程竣工验收合格后一个月内一次性结清款项。</td>
                                </tr>


                                <tr style="display:none;">
                                    <td align="left" style="padding-bottom:10px;" colspan="3"><span>补充说明：</span></td>

                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" style="width:10px"><span>项目审批信息</span></td>
                                    <td align="left" colspan="2"><span>项目审批表：</span>

                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a73943187">IMG7584.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a73b43189">IMG7585.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>村民代表大会意见表：</span>

                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127445c8bc0174488a9f673191">IMG7587.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                    <!-- 项目信息结束  -->


                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">标段信息</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 判断标段信息开始 -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>

                                <tr>
                                    <td align="left" width="50%"><span>标段编号：</span>1</td>
                                    <td align="left" width="50%"></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>标段描述：</span>工程概况：
                                        具体要求如下：
                                        屋顶要求全部用黑大瓦重新盖顶，约30个平方；内里用三角板封面,要求刷白；配套水电。
                                        工程造价：5070元（含税价）。</td>
                                </tr>

                                <tr>
                                    <td align="left" colspan="2"><span>报名费：</span>¥&nbsp;0</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>保证金：</span>¥&nbsp;0</td>
                                </tr>

                                <tr>
                                    <td align="left" colspan="2"><span>最高限价：</span>小写&nbsp;
                                        5,070.00
                                        元&nbsp;</td>
                                </tr>


                                <tr>
                                    <td align="left"><span>交易方式：</span> 协商


                                    </td>

                                    <td align="left"><span>成交付款方式：</span>






                                        转账汇款&nbsp;


                                    </td>
                                </tr>

                                <!-- 成交 -->
                                <tr>
                                    <td align="left"><span>成交情况：</span>

                                        成功</td>

                                    <td align="left"><span>成交日期：</span>2020-09-01</td>

                                </tr>

                                <tr>
                                    <td align="left"><span>成交人：</span>李秋香</td>
                                    <td align="left"><span>成交价：</span>小写&nbsp;
                                        5,070.00
                                        元</td>
                                </tr>

                                <!-- 成交结束 -->
                                <tr style="display:none;">
                                    <td align="left" colspan="2"><span>补充说明：</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 判断标段信息结束 -->
                    </div>


                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc2" style=" margin-top:7px; background-color:#ffffff; display:none;">
      <tr>
        <td align="center" width="1002"><img src="wsjjys/images/3.jpg" width="620" height="315" /></td>
      </tr>
      </tr>
    </table>
    <table width="998" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7">
      <tr>
        <td height="90" align="center" style="line-height:22px; border-top:3px solid #d8d8d8; background:#efefef">版权所有：江苏省委农工办 江苏省财政厅<br />
          建设单位：江苏省信息中心 技术支持：南京南大尚诚软件科技有限公司<br />
        联系电话：025-83393917 苏ICP备14008292号</td>
      </tr>
    </table> -->



</div>