#headtop{
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
#headtop .reg {
    width: 98%;
    margin: 0 auto;
    height: 30px;
}
#headtop #time {
    font-size: 12px;
    color: #666;
    width: 350px;
    float: left;
    text-align: left;
    padding-left: 5px;
}
#headtop #beforeLogin {
    font-size: 12px;
    color: #666;
    position: relative;
    top: -90%;
    text-align: right;
}
#headtop #afterLogin {
    font-size: 12px;
    color: #666;
    position: relative;
    top: -90%;
    text-align: right;
}
