<div id="headtop">
    <ul>
        <li class="reg">
            <div>现在时间：{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</div>
            <div id="beforeLogin" *ngIf="username==''">
                <a routerLink="/login">用户登录</a> / 
                <a routerLink="/regist">注册</a> | 
                <a routerLink = "/hdjl/common-ask">常见问题</a> 
            </div>
            <div id="afterLogin" *ngIf="username != ''">
                <span>尊敬的<a routerLink = "/auction/myAuction">{{username}}</a> ：您好</span> | 
                <a routerLink = "/hdjl/common-ask">常见问题</a> 
            </div>
        </li>
    </ul>
</div>
<!-- <app-lite-login *ngIf="isActive"></app-lite-login> -->