<app-header></app-header>

<body>
    <input type="hidden" id="bmjzsj" value="2020-09-13 18:00:00">
    <input type="hidden" id="bdjysj" value="2020-09-14 15:45:00">
    
    <!--在线直播内容-->

    <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style=" background-color:#ffffff; ">

        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff; border: 0; text-align: center;" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：
                                    <a routerLink="/home">首页</a >-&gt; 
                                    <a routerLink="/jyggall/xuqiu">交易公告</a> -&gt; 
                                    <a>需求信息</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>

                <td width="497" height="341" align="left" valign="top">
                    <div class="slidebox-01">
                        <ul class="slidepic-01" style="width: 477px; left: 0px;">

                            <li>
                                <div class="photo">
                                    <img src={{photo}}>
                                </div>
                                <div class="txt"><span>项目图片</span></div>
                            </li>
                        </ul>
                        <!-- <div class="slidebtn-01">
                            <ul>
                                <li class="current">1</li>
                            </ul>
                        </div> -->
                    </div>
                </td>

                <td valign="top">
                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">{{xiangmumingcheng}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <tr>
                                <td width="100" align="left" height="30">需求方类型：</td>
                                <td height="30" align="left" colspan="3">{{xuqiufang | xqfType}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">需求方名称：</td>
                                <td height="30" align="left" colspan="3">{{xiuqiumingcheng}}</td>
                            </tr>
                            <tr>

                                <td width="100" align="left" height="30">
                                    需求方电话：
                                </td>
                                <td height="30" align="left" colspan="3">
                                    {{phone}}
                                </td>


                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">区域位置：

                                </td>
                                <td height="30" align="left" colspan="3">{{quyuweizhi}}
                                </td>
                            </tr>

                            <tr>
                                <td width="100" align="left" height="30">证件类型:</td>
                                <td height="30" align="left" colspan="3">居民身份证
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">证件号码:</td>
                                <td height="30" align="left" colspan="3">{{lianxirenzhengjianhaoma}}</td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left" class="tit_b"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">项目信息</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 项目信息开始  -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>

                                <tr>
                                    <td align="left" width="50%"><span>项目名称:</span>{{xiangmumingcheng}}</td>
                                    <td align="left" width="50%"><span>项目编号:</span>{{xiangMuBianHao}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>区域位置：</span>{{quyuweizhi}} </td>
                                </tr>

                                <tr>
                                    <td align="left" colspan="2"><span>承受价格：</span>{{chengshoujiage}}</td>

                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>流转需求年限：</span>{{xuqiunianxian}} 年</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>土地用途：</span> {{zhuanruyongtu | xqType}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>面积：</span> {{dikuaimianji}} </td>

                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>地块应具备条件：</span>{{qita}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span> 其他披露事项：</span>

                                    </td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                        <br>
                        <div style="width:100px;margin: 0 auto;display:block;">
                            <a class="btbm1" (click)="submitUser()"
                            style=" text-align:center;width:120px; 
                            height:30px; 
                            line-height:30px; 
                            font-size:15px; 
                            display:block; 
                            background:#FF6E00; 
                            color:#fff; 
                            margin-top:0px;"> 我能提供</a>
                        </div>

                    </div>


                </td>
            </tr>
        </tbody>
    </table>

    <div class="window-shadow" style="display: none; left: 42.5px; top: 200px;"></div>
</body>
<app-lite-login #liteLogin *ngIf="isActive"> </app-lite-login>
