<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mart7">
    <tr>
        <td width="76" height="31" align="center"   background="../../../assets/img/titbg3.jpg" class="titw">需求信息</td>
        <td align="right" background="../../../assets/img/titbg4.jpg">
            <a routerLink="/jyggall/xuqiu">更多 &gt;&gt;</a>&nbsp;&nbsp;</td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ntrbord">
    <tr>
        <td height="176"    valign="top" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="jygg1 xqxx">
                <tr>
                    <th width="15%" height="30">项目编号</th>
                    <th width="20%">项目名称</th>
                    <th width="10%">需求年限</th>
                    <th width="15%" >用途</th>
                    <th width='15%'>发布时间</th>
                </tr>

                <tr *ngFor="let item of xqxxList">
                    <td height="28" class="num xmmcrow" align="center">&nbsp;{{item.xuQiuXinXi.id}}</td>
                    <td align="center" class="tit">
                        <a [routerLink]="['/xqxxdetail', item.xuQiuXinXi.id]" align="center">
                            <div class="xmmcrow" >&nbsp;{{item.xuQiuXinXi.xiuqiumingcheng}}</div>
                        </a>
                    </td>
                    <td align="center">{{item.xuQiuXinXi.xuqiunianxian}}</td>
                    <td align="center" class="num">{{item.xuQiuXinXi.zhuanruyongtu | xqType}}</td>
                    <td align="center">{{item.xuQiuXinXi.creationTime|date:'yyyy-MM-dd'}}</td>
                </tr>                
            </table>
        </td>
    </tr>
</table>
