<app-header></app-header>
<body>
    <input type="hidden" id="bmjzsj" value="2020-09-13 18:00:00">
    <input type="hidden" id="bdjysj" value="2020-09-14 15:45:00">
    <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style=" background-color:#ffffff; ">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff; border: 0; text-align: center;" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：<a>首页</a>
                                    -&gt; <a>交易公告</a> -&gt; <a>竞价公告</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="497" height="341" align="left" valign="top">
                    <div class="slidebox-01">
                        <ul class="slidepic-01" style="width: 477px; left: 0px;">
                            <li>
                                <div class="photo">
                                    <img src="/nccqjy/wsjjys/images/mrtp.gif">
                                </div>
                                <div class="txt">项目图片</div>
                            </li>
                        </ul>
                        <div class="slidebtn-01">
                            <ul>
                                <li class="current">1</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">{{BiaoDuanMiaoShu}}--竞价公告</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <tr>
                                <td width="100" align="left" height="30">项目编号：</td>
                                <td height="30" align="left" colspan="3">{{bianHao}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">产权类型：</td>
                                <td height="30" align="left" colspan="3">“四荒”使用权</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">
                                    流转方式：
                                </td>
                                <td height="30" align="left" colspan="3">
                                    出租
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">流转期限：
                                </td>
                                <td height="30" align="left" colspan="3">12年
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">报名时间:</td>
                                <td height="30" align="left" colspan="3">{{BaoMingShiJian | date: 'yyyy-MM-dd'}}
                                    <!-- &nbsp;至&nbsp;2020-09-13 18:00 -->
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">报名地点:</td>
                                <td height="30" align="left" colspan="3">{{BaoMingDiDian}}或网上报名</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">竞拍开始时间：</td>
                                <td height="30" align="left" colspan="3">{{JingPaiShiJian | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">交易地点：</td>
                                <td height="30" align="left" colspan="3">{{JiaoYiDiDian}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">公告日期：</td>
                                <td height="30" align="left" colspan="3">{{GongShiRiQi | date:'yyyy-MM-dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left" class="tit_b"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">产权信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 项目信息开始  -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left" width="35%"><span>乡镇（街道）:</span>{{DiZhi}}</td>
                                    <td align="left" width="35%"><span>村（社区）:</span></td>
                                    <td align="left" width="30%"><span>组别：</span></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>登记日期：</span>{{DengJiRiQi | date: 'yyyy-MM-dd'}}</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>所有权人：</span>{{SuoYouQuanRen}}</td>
                                    <td align="left"><span>权证编号：</span>{{QuanZhengBianHao}}</td>
                                    <td align="left"><span>权证年限：</span>{{QuanZhengNianXian}}</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>是否续租：</span>{{ShiFouXuZu | boolean}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>项目描述：</span>{{BiaoDuanMiaoShu}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span> 交易面积：</span>
                                       {{JiaoYiMianJi}}亩
                                    </td>
                                </tr>
                                 <!-- <tr style="display:none;">
                                    <td align="left" colspan="3"><span>质量等级：</span></td>
                                </tr>
                               <tr style="display:none;">
                                    <td align="left" colspan="3"><span>利用现状：</span></td>
                                </tr> -->
                                <!-- <tr style="display:none;">
                                    <td align="left" colspan="3"><span>项目位置：</span></td>
                                </tr> -->
                                <tr>
                                    <td align="left" colspan="3"><span>项目四至：</span>{{SiZhi}}</td>
                                </tr>
                                <!-- <tr style="display:none;">
                                    <td align="left" colspan="3"><span>坐标拐点：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>土地类别：</span>
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>附属设施：</span>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td align="left" colspan="3"><span>流转用途：</span>
                                        其他&nbsp;
                                    </td>
                                </tr>
                                <!-- <tr style="display:none;">
                                    <td align="left" colspan="3"><span>种养品种：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3" style="padding-bottom:10px;"><span>补充说明：</span></td>
                                </tr> -->
                                <tr>
                                    <td align="left"><span>承包权人：</span>{{ChengBaoQuanRen}}</td>
                                    <td align="left" colspan="2"><span>经营权人：</span></td>
                                </tr>
                                <tr>
                                    <td align="left"><span>农村土地承包经营权证名称：</span>{{ChengBaoQuanRen}}</td>
                                    <td align="left" colspan="2"><span>权属类型：</span> {{QuanShuLeiXing}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left"><span>是否存在其他权利人：</span>  </td>
                                    <td align="left" colspan="2"><span>他项权利人：</span>{{QiTaQuanLiRen}} </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>他项权利内容：</span>{{QiTaQuanLiRen}}</td>
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" style="width:10px"><span>项目审批信息</span></td>
                                    <td align="left" colspan="2"><span>项目审批表：</span>
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687e08a1ce7">农村产权交易项目审批表扫描件2.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687f8a61cea">农村产权交易项目审批表扫描件3.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687c9971ce2">农村产权交易项目审批表扫描件1.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>村民代表大会意见表：</span>
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746688bfee1d05">村民（成员）代表意见扫描件1.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746688d9711d08">村民（成员）代表意见扫描件2.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- 项目信息结束  -->
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="400" align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="20" align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">
                                                        流出方信息
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" height="100px" border="0" cellspacing="0"
                                                            cellpadding="0" class="xmxx"
                                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left"><span>
                                                                            单位名称/姓名：
                                                                        </span>{{DanWeiXingMing}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span>联系人：</span>{{lcf_LianXiRen}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span>联系电话：</span>{{lcf_LianXiDianHua}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-bottom:8px;">
                                                        被委托人信息</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="100px" border="0" cellspacing="0" cellpadding="0"
                                            class="xmxx"
                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td align="left" width="200" height="33"><span>姓名：</span>{{XingMing}}</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" height="33"><span>联系电话：</span>{{bwtr_LianXiDianHua}}</td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span>工作单位：</span>{{GongZuoDanWei}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                    <td align="right" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-bottom:8px;">
                                                        评估信息</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="100px" border="0" cellspacing="0" cellpadding="0"
                                            class="xmxx"
                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td align="left"><span>评估机构：</span>{{PingGuJiGou}}</td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span>评估基准日：</span>{{PingGuJiZhunRi}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span>评估值：</span>{{PingGuZhi}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td heigth="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">报名信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left"><span>报名时间：</span> {{BaoMingShiJian | date:'yyyy-MM-dd'}}
                                        &nbsp;至
                                    </td>
                                    <td align="left"><span>报名地点：</span>{{BaoMingDiDian}}或网上报名</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>成交缴款截止时间：</span>{{ChengJiaoJiaoKuanJieZhiShiJian | date:'yyyy-MM-dd'}} </td>
                                    <td align="left"><span>交易时间：</span> {{JingPaiShiJian}}</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>联系人：</span>{{LianXiRen}}</td>
                                    <td align="left"><span>交易地点：</span>{{JiaoYiDiDian}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>联系人电话：</span>{{LianXiDianHua}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">标段信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 判断标段信息开始 -->
                        <div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                                style="table-layout:fixed;word-wrap:break-word;word-break:break-all;">
                                <tbody>
                                    <tr>
                                        <td align="left" width="50%"><span>标段编号：</span>{{bianHao}}</td>
                                        <td align="left" width="50%"><span>流转期限：</span>
                                            12年
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2">
                                            <span>标段描述：</span>{{BiaoDuanMiaoShu}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>交易面积：</span>
                                            {{JiaoYiMianJi}}亩</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>报名费：</span>¥&nbsp;{{BaoMingFei}} </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>保证金：</span>¥&nbsp; {{BaoZhengJin}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>底价：</span>小写&nbsp;{{DiJia}}
                                            元/年/亩</td>
                                    </tr>
                                    <tr>
                                        <td align="left"><span>交易方式：</span>
                                            {{JiaoYiFangShi}}
                                        </td>
                                        <td align="left"><span>成交缴款方式：</span>
                                            现金支付&nbsp;
                                            转账汇款&nbsp;
                                        </td>
                                    </tr>
                                    <!--网上竞价  -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><span>自由竞价期：</span>
                                            2020-09-14 15:45:00 -
                                            2020-09-14 15:55:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>出价延时：</span>{{ChuJiaYanShi}}</td>
                                        <td>
                                            <span> 底价：</span>{{DiJia}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span>加价幅度：</span>{{JiaJiaFuDu}}</td>
                                        <!-- <td style="display:none;">
                                            <span>最高限价：</span>元/年/亩</td> -->
                                    </tr>
                                    <!-- <tr style="display:none;">
                                        <td align="left" colspan="2"><span>补充说明：</span></td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <br>
                            <div style="width:100px;margin: 0 auto;display:block;">
                                <a   class="btbm1"
                                    style=" text-align:center;width:120px; height:30px; line-height:30px; font-size:15px; display:block; background:#FF6E00; color:#fff; margin-top:0px;"
                                    routerLink="login">我要报名</a>
                            </div>
                        </div>
                        <!-- 判断标段信息结束 -->
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px;margin-bottom:10px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">附件信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <table table="" width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx">
                            <tbody>
                                <tr>
                                    <td width="170" align="left"><span>交易公告：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000007">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="trs">
                                    <td width="170" align="left"><span>意向流入方承诺书：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000011">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="170" align="left"><span>授权委托书：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000006">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc2" style=" margin-top:7px; background-color:#ffffff; display:none;">
      <tr>
        <td align="center" width="1002"><img src="wsjjys/images/3.jpg" width="620" height="315" /></td>
      </tr>
      </tr>
    </table>
    <table width="998" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7">
      <tr>
        <td height="90" align="center" style="line-height:22px; border-top:3px solid #d8d8d8; background:#efefef">版权所有：江苏省委农工办 江苏省财政厅<br />
          建设单位：江苏省信息中心 技术支持：南京南大尚诚软件科技有限公司<br />
        联系电话：025-83393917 苏ICP备14008292号</td>
      </tr>
    </table> -->
    
    <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div>
    <div id="lightbox" class="lightbox" style="display: none;">
        <div class="lb-outerContainer">
            <div class="lb-container"><img class="lb-image" src="">
                <div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div>
                <div class="lb-loader"><a class="lb-cancel"></a></div>
            </div>
        </div>
        <div class="lb-dataContainer">
            <div class="lb-data">
                <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
                <div class="lb-closeContainer"><a class="lb-close"></a></div>
            </div>
        </div>
    </div>
    
</body>