<app-header></app-header>
<body>
    <input type="hidden" id="bmjzsj" value="2020-09-13 18:00:00">
    <input type="hidden" id="bdjysj" value="2020-09-14 15:45:00">
    <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style=" background-color:#ffffff; ">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff; border: 0; text-align: center;" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：<a>首页</a>
                                    -&gt; <a>交易公告</a> -&gt; <a>通知公告</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="497" height="341" align="left" valign="top">
                    <div class="slidebox-01">
                        <ul class="slidepic-01" style="width: 477px; left: 0px;">
                            <li>
                                <div class="photo">
                                    <img src="/nccqjy/wsjjys/images/mrtp.gif">
                                </div>
                                <div class="txt">项目图片</div>
                            </li>
                        </ul>
                        <div class="slidebtn-01">
                            <ul>
                                <li class="current">1</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">界集镇毕沟村五组段水库埂土地经营权对外出租</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <tr>
                                <td width="100" align="left" height="30">项目编号：</td>
                                <td height="30" align="left" colspan="3">321324111B20090004</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">产权类型：</td>
                                <td height="30" align="left" colspan="3">“四荒”使用权</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">
                                    流转方式：
                                </td>
                                <td height="30" align="left" colspan="3">
                                    出租
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">流转期限：
                                </td>
                                <td height="30" align="left" colspan="3">12年
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">报名时间:</td>
                                <td height="30" align="left" colspan="3">2020-09-07 14:30
                                    &nbsp;至&nbsp;2020-09-13 18:00
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">报名地点:</td>
                                <td height="30" align="left" colspan="3">界集镇农村产权交易服务中心或网上报名</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">交易开始时间：</td>
                                <td height="30" align="left" colspan="3">2020-09-14 15:45</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">交易地点：</td>
                                <td height="30" align="left" colspan="3">界集镇农村产权交易服务中心</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">公告日期：</td>
                                <td height="30" align="left" colspan="3">2020-09-07</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left" class="tit_b"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">产权信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 项目信息开始  -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left" width="35%"><span>乡镇（街道）:</span>界集镇</td>
                                    <td align="left" width="35%"><span>村（社区）:</span></td>
                                    <td align="left" width="30%"><span>组别：</span></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>登记日期：</span>
                                        2020-09-05</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>所有权人：</span>毕沟村村民委员会</td>
                                    <td align="left"><span>权证编号：</span></td>
                                    <td align="left"><span>权证年限：</span> </td>
                                </tr>
                                <tr>
                                    <td align="left"><span>是否续租：</span> 否 </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>项目描述：</span>界集镇毕沟村五组段水库埂土地经营权对外出租；东至：渠，南至：六组交界，
                                        西至：沟， 北至：二组交界；交易面积5.5亩，用于栽树</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span> 交易面积：</span>
                                        5.5亩
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>质量等级：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>利用现状：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>项目位置：</span></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>项目四至：</span>东至：渠，南至：六组交界， 西至：沟， 北至：二组交界 </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>坐标拐点：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>土地类别：</span>
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>附属设施：</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>流转用途：</span>
                                        其他&nbsp;
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>种养品种：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3" style="padding-bottom:10px;"><span>补充说明：</span></td>
                                </tr>
                                <tr>
                                    <td align="left"><span>承包权人：</span></td>
                                    <td align="left" colspan="2"><span>经营权人：</span></td>
                                </tr>
                                <tr>
                                    <td align="left"><span>农村土地承包经营权证名称：</span></td>
                                    <td align="left" colspan="2"><span>权属类型：</span> 集体
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left"><span>是否存在其他权利人：</span> 否 </td>
                                    <td align="left" colspan="2"><span>他项权利人：</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="left" colspan="3"><span>他项权利内容：</span></td>
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" style="width:10px"><span>项目审批信息</span></td>
                                    <td align="left" colspan="2"><span>项目审批表：</span>
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687e08a1ce7">农村产权交易项目审批表扫描件2.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687f8a61cea">农村产权交易项目审批表扫描件3.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746687c9971ce2">农村产权交易项目审批表扫描件1.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>村民代表大会意见表：</span>
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746688bfee1d05">村民（成员）代表意见扫描件1.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a target="_show"
                                            href="portal.do?method=downLoadFile&amp;&amp;id=2c9004127464aee401746688d9711d08">村民（成员）代表意见扫描件2.jpg</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- 项目信息结束  -->
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="400" align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="20" align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">
                                                        流出方信息
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" height="100px" border="0" cellspacing="0"
                                                            cellpadding="0" class="xmxx"
                                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left"><span>
                                                                            单位名称/姓名：
                                                                        </span>泗洪县界集镇农业经济技术服务中心</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span>联系人：</span>张浩德</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span>联系电话：</span>18361890468</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-bottom:8px;">
                                                        被委托人信息</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="100px" border="0" cellspacing="0" cellpadding="0"
                                            class="xmxx"
                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td align="left" width="200" height="33"><span>姓名：</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" height="33"><span>联系电话：</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                    <td align="right" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="left"
                                                        style="font-size:17px; font-weight:bold; color:#222; padding-bottom:8px;">
                                                        评估信息</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" height="100px" border="0" cellspacing="0" cellpadding="0"
                                            class="xmxx"
                                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td align="left"><span>评估机构：</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span>评估基准日：</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span>评估值：</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td heigth="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">报名信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>
                                <tr>
                                    <td align="left"><span>报名时间：</span> 2020-09-07 14:30
                                        &nbsp;至&nbsp;2020-09-13 18:00
                                    </td>
                                    <td align="left"><span>报名地点：</span>界集镇农村产权交易服务中心或网上报名</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>成交缴款截止时间：</span> </td>
                                    <td align="left"><span>交易时间：</span> 2020-09-14 15:45</td>
                                </tr>
                                <tr>
                                    <td align="left"><span>联系人：</span>李达</td>
                                    <td align="left"><span>交易地点：</span>界集镇农村产权交易服务中心</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span>联系人电话：</span>80823061</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">标段信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 判断标段信息开始 -->
                        <div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                                style="table-layout:fixed;word-wrap:break-word;word-break:break-all;">
                                <tbody>
                                    <tr>
                                        <td align="left" width="50%"><span>标段编号：</span>1</td>
                                        <td align="left" width="50%"><span>流转期限：</span>
                                            12年
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2">
                                            <span>标段描述：</span>界集镇毕沟村五组段水库埂土地经营权对外出租；东至：渠，南至：六组交界， 西至：沟，
                                            北至：二组交界；交易面积5.5亩，用于栽树</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>交易面积：</span>
                                            5.5亩</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>报名费：</span>¥&nbsp;100</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>保证金：</span>¥&nbsp;1000</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2"><span>预期价格：</span>小写&nbsp;450
                                            元/年/亩</td>
                                    </tr>
                                    <tr>
                                        <td align="left"><span>交易方式：</span>
                                            在线自由竞价
                                            正向
                                        </td>
                                        <td align="left"><span>成交缴款方式：</span>
                                            现金支付&nbsp;
                                            转账汇款&nbsp;
                                        </td>
                                    </tr>
                                    <!--网上竞价  -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><span>自由竞价期：</span>
                                            2020-09-14 15:45:00 -
                                            2020-09-14 15:55:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>出价延时：</span> 10秒/次</td>
                                        <td>
                                            <span> 底价：</span>450.00元/年/亩</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span>加价幅度：</span>10.00元/年/亩</td>
                                        <td style="display:none;">
                                            <span>最高限价：</span>元/年/亩</td>
                                    </tr>
                                    <tr style="display:none;">
                                        <td align="left" colspan="2"><span>补充说明：</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div style="width:100px;margin: 0 auto;display:block;">
                                <a   class="btbm1"
                                    style=" text-align:center;width:120px; height:30px; line-height:30px; font-size:15px; display:block; background:#FF6E00; color:#fff; margin-top:0px;"
                                    routerLink="login">我要报名</a>
                            </div>
                        </div>
                        <!-- 判断标段信息结束 -->
                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px;margin-bottom:10px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">附件信息</td>
                                </tr>
                            </tbody>
                        </table>
                        <table table="" width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx">
                            <tbody>
                                <tr>
                                    <td width="170" align="left"><span>交易公告：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000007">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="trs">
                                    <td width="170" align="left"><span>意向流入方承诺书：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000011">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="170" align="left"><span>授权委托书：</span></td>
                                    <td colspan="2">
                                        <div id="filediv133000006">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc2" style=" margin-top:7px; background-color:#ffffff; display:none;">
      <tr>
        <td align="center" width="1002"><img src="wsjjys/images/3.jpg" width="620" height="315" /></td>
      </tr>
      </tr>
    </table>
    <table width="998" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7">
      <tr>
        <td height="90" align="center" style="line-height:22px; border-top:3px solid #d8d8d8; background:#efefef">版权所有：江苏省委农工办 江苏省财政厅<br />
          建设单位：江苏省信息中心 技术支持：南京南大尚诚软件科技有限公司<br />
        联系电话：025-83393917 苏ICP备14008292号</td>
      </tr>
    </table> -->
    <script>
        $(function () {
            // $('.clappr-style').html('');
            $('.clappr-style').remove();
        });
    </script>
    <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div>
    <div id="lightbox" class="lightbox" style="display: none;">
        <div class="lb-outerContainer">
            <div class="lb-container"><img class="lb-image" src="">
                <div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div>
                <div class="lb-loader"><a class="lb-cancel"></a></div>
            </div>
        </div>
        <div class="lb-dataContainer">
            <div class="lb-data">
                <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
                <div class="lb-closeContainer"><a class="lb-close"></a></div>
            </div>
        </div>
    </div>
    <div class="panel window" style="display: none; top: 200px; width: 888px; left: 42.5px;">
        <div class="panel-header panel-header-noborder window-header" style="width: 883px;">
            <div class="panel-title">在线直播</div>
            <div class="panel-tool"><a class="panel-tool-close" href="javascript:void(0)"></a></div>
        </div>
        <div id="dlg2" class="easyui-dialog panel-body panel-body-noborder window-body" title="" buttons="#dlg-buttons"
            closed="true" style="overflow: hidden; width: 886px; height: 551px;">
            <div class="panel" style="display: block; top: 200px; width: 886px;">
                <div style="width: 872px; height: 537px; padding: 7px; top: 200px;" title=""
                    class="panel-body panel-body-noheader panel-body-noborder dialog-content">
                    <div class="zbbt">
                        <h1 style="text-align: center">界集镇毕沟村五组段水库埂土地经营权对外出租项目招标在线直播</h1>
                        <div class="zbcon" style="padding:0px">
                            <div id="player">
                                <div data-player="" tabindex="9999" class="" style="height: 420px; width: 800px;">
                                    <div class="media-control w320" data-media-control="">
                                        <div class="seek-time" data-seek-time="" style="display: none; left: -100%;">
                                            <span data-seek-time=""></span>
                                            <span data-duration="" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="container" data-container="">
                                        <div data-spinner="" class="spinner-three-bounce" style="display: none;">
                                            <div data-bounce1=""></div>
                                            <div data-bounce2=""></div>
                                            <div data-bounce3=""></div>
                                        </div>
                                        <div data-no-op=""><canvas data-no-op-canvas=""></canvas>
                                            <p data-no-op-msg="">Your browser does not support the playback of this
                                                video. Please try using a different browser.</p>
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var playerElement = document.getElementById("player");
                                var player = new Clappr.Player({
                                    source: '',
                                    poster: 'img/img.jpg',
                                    mute: true,
                                    height: 420,
                                    width: 800
                                });
                                player.attachTo(playerElement);
                            </script>
                        </div>
                    </div>
                    <script>
                        $(function () {
                            //如何当前项目不能在线播放则隐藏在线播放按钮
                            proIdLimit();
                        });
                        // 初始化弹窗位置
                        function showPop(self) {
                            var bottom = self.getBoundingClientRect().bottom;
                            var height = $('.panel').innerHeight();
                            if ($(window).innerHeight() - bottom < height) {
                                top = $(window).scrollTop() + $(window).innerHeight() - height;
                            }
                            if (proIdLimit()) {//项目编号限制
                                // if(timeLimit()){//播放时间段限制
                                $('#dlg2').window('open');
                                // }
                            }
                        }
                        //在线播放时的项目id限制
                        function proIdLimit() {
                            var proId = '321324111B20090004';//当前页面中的项目id
                            var arrowProIds = [
                                '320924102P20020001',
                                '320924104N20010034',
                                '320924102N20020003',
                                '320924102N20020001'
                            ];//允许播放的项目的id列表
                            var candisplay = $.inArray(proId, arrowProIds) !== -1;
                            if (!candisplay) {
                                $('.online-play').hide();
                                return false;
                            }
                            return candisplay;
                        }
                        //在线播放时的播放时间段限制
                        function timeLimit() {
                            //获取系统时间
                            var sysTime = new Date();
                            //获取交易的时间
                            var jyTime = new Date('2020-09-14 15:45:00.0');
                            //交易开始时间的前半小时时间
                            var beforeTime = new Date('2020-09-14 15:45:00.0');
                            beforeTime.setMinutes(beforeTime.getMinutes() - 30);
                            //交易开始时间的前半小时时间
                            var afterTime = new Date('2020-09-14 15:45:00.0');
                            afterTime.setHours(afterTime.getHours() + 2);
                            if (sysTime < beforeTime) {
                                alert('未到直播时间');
                                return false;
                            } else if (sysTime <= afterTime) {
                                return true;
                            } else if (sysTime > afterTime) {
                                alert('直播时间已过');
                                return false;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="window-shadow" style="display: none; left: 42.5px; top: 200px;"></div>
</body>