<app-header></app-header>

<table width="998" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:7px;">
	<tbody>
		<tr>
			<td width="268" align="center" valign="top" bgcolor="#edfcf8">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_t">
					<tbody>
						<tr>
							<td height="50" align="center" background="../../../assets/img/list.jpg">政策法规</td>
						</tr>
					</tbody>
				</table>
				<table width="213" border="0" cellspacing="0" cellpadding="0">

					<tbody>
						<tr>
							<td height="12"></td>
						</tr>
						<tr>
							<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
								<a routerLink="/gjzcfg">国家政策法规</a>
							</td>
						</tr>
						<tr>
							<td height="12"></td>
						</tr>
						<tr>
							<td height="37" align="center" background="../../../assets/img/listbg.jpg" class="list_nav">
								<a routerLink="/dfzcfg">地方政策规章</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="right" valign="top">&nbsp;</td>
			<td width="722" align="right" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td height="31" align="left" class="pos">当前位置：
								<a routerLink = "/home">首页</a> &gt;
                                <a routerLink = "/zcfg">政策法规</a> &gt;
                                <a  routerLink = "/dfzcfg">地方政策规章</a> &gt;
							</td>
						</tr>
					</tbody>
				</table>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="729" height="560" align="center" valign="top" bgcolor="#edfcf8">
								<table width="95%" border="0" cellspacing="0" cellpadding="0" style="margin:6px 0">

									<tbody>
										<tr *ngFor="let policy of policies">
											<td height="26" align="left">·
                                                <a [routerLink]="['/policydetail', policy.zhengCeFaGui.id]">{{policy.zhengCeFaGui.title}} </a>

												<!-- <a [routerLink]="['/policydetail',policy.zhengCeFaGui.id]">{{policy.zhengCeFaGui.title}} </a> -->
											</td>
											<td width="90" align="center">{{policy.zhengCeFaGui.creationTime | date:"yyyy-MM-dd"}}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

				<table bgcolor="#edfcf8" width="729" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>

							<td height="30" align="center">
								<p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
								
								
							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>