<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a routerLink="/home">首页</a> &gt;
                <a routerLink="/jyggall/xuqiu">交易公告</a> &gt;
                <a routerLink="/jyggall/xuqiu">需求信息</a> &gt;
            </td>
        </tr>
    </tbody>
</table>
<div style="background-color: #EDFCF8; height: 700px;">
    <p-table [columns]="cols" [value]="xqxxList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    totalRecords="totalRecords" pageLinks="3">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td height="28" class="num" >{{rowData.xuQiuXinXi.xiangMuBianHao}}</td>
                <td  class="tit">
                    <a [routerLink]="['/xqxxdetail', rowData.xuQiuXinXi.id]" align="center">
                        <div class=" rowDataRight" >&nbsp;
                            {{rowData.xuQiuXinXi.xiangmumingcheng}}</div>
                    </a>
                </td>
                <td >
                    <span class="rowDataCenter">{{rowData.xuQiuXinXi.xuqiunianxian}}</span>
                </td>
                <td align="center"><span class="tit">{{rowData.xuQiuXinXi.zhuanruyongtu | xqType}}</span></td>
                <td  align="center">{{rowData.xuQiuXinXi.creationTime|date:'yyyy-MM-dd'}}</td>
        </tr>
    </ng-template>
</p-table>
    <!-- <table width="100%" border="0" cellpadding="0" cellspacing="0" class="show_data">
        <tbody>
            <tr class="title">
                <td width="140" height="25" align="center">项目编号</td>
                <td align="center">项目名称</td>
                <td align="center">需求年限</td>
                <td width="185" align="center">用途</td>
                <td width="90" align="center">发布时间</td>
            </tr>
        
            
            <tr *ngFor="let item of xqxxList">
                <td height="28" class="num" >{{item.xuQiuXinXi.id}}</td>
                <td align="center" class="tit">
                    <a [routerLink]="['/xqxxdetail', item.xuQiuXinXi.id]" align="center">
                        <div class="xmmcrow num" >&nbsp;{{item.xuQiuXinXi.xiangmumingcheng}}</div>
                    </a>
                </td>
                <td align="center">{{item.xuQiuXinXi.xuqiunianxian}}</td>
                <td align="center"><span class="tit">{{item.xuQiuXinXi.zhuanruyongtu | xqType}}</span></td>
                <td  align="center">{{item.xuQiuXinXi.creationTime|date:'yyyy-MM-dd'}}</td>
            </tr>
        
            
        </tbody>
    </table> -->
</div>
