<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mart7">
    <tr>
        <td width="76" height="31" align="center" background="../../../assets/img/titbg5.jpg" class="titw">竞价交易</td>
        <td align="right" background="../../../assets/img/titbg6.jpg">
            <a routerLink="/jingjia" target="_blank">更多 &gt;&gt;</a>&nbsp;&nbsp;</td>

    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ntrbord">
    <tr>
        <td height="176" align="center" valign="top" bgcolor="#FFFFFF">
            <table id="tzgglist" width="100%" border="0" cellspacing="0" cellpadding="0" class="jygg1">
                <tr>
                    <th width="15%" height="30" align="center">项目编号</th>
                    <th width="20%">项目名称</th>
                    <th width="10%">竞价方式</th>
                    <th width="25%" align="center">交易地点</th>
                    <th width='15%'>报名截止时间</th>
                    <th width="15%" >竞价开始时间</th>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">320826102N19030002</td>
                    <td align="left" class="tit">
                        <a routerLink = "/jjjydetail">
                            <div class="xmmcrow" >七百间新328国道14组北侧鱼塘出租</div>
                        </a>
                    </td>
                    <td>线上竞价</td>
                    <td align="center"><span class="tit">焦作市七百间 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                    <td align="center">2020-05-01</td>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">321204111D19030001</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="xmmcrow" title="七百间新328国道14组北侧鱼塘出租">&nbsp;农村环境提升挖清树根项目</div>
                        </a>
                    </td>
                    <td>线下竞价</td>
                    <td align="center"><span class="tit">焦作市 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                    <td align="center">2020-05-01</td>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">321204111C19030001</td>
                    <td align="left" class="tit">
                        <a href="#" >
                            <div class="xmmcrow" title="高新区民生街道便民服务中心整体出租">&nbsp;高新区民生街道便民服务中心整体出租</div>
                        </a>
                    </td>
                    <td>线上竞价</td>
                    <td align="center"><span class="tit">焦作市高新区民生街道 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                    <td align="center">2020-05-01</td>
                </tr>

                <tr>
                    <td height="28" align="center" class="num">320411100A19030005</td>
                    <td align="left" class="tit">
                        <a href="#">
                            <div class="xmmcrow">&nbsp;马村区马村街道2、3组地块西侧3.5亩出租</div>
                        </a>
                    </td>
                    <td>线下竞价</td>
                    <td align="center"><span class="tit">焦作市 </span></td>
                    <td align="center" class="num">2019-03-27</td>
                    <td align="center">2020-05-01</td>
                </tr>

                

            </table>
        </td>
    </tr>
</table>
