tr{
    height: 40px;

}
.title>td{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.show_data{
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align: left;
    background-color: #edfcf8;
}
::ng-deep .p-paginator {
    background: #edfcf8 ;
    }
 .p-datatable, .p-component {
        background-color: #edfcf8;
    }
.pTable{
        background-color: #edfcf8;
    }