<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a routerLink="/home">首页</a> &gt;
                <a routerLink="/jyggall/zhuanrang">交易公告</a> &gt;
                <a routerLink="/jyggall/zhuanrang">转让信息</a> &gt;
            </td>
        </tr>
    </tbody>
</table>
<div style="background-color: #EDFCF8; height: 700px;">
    <br>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="show_data">
        <tbody>
            <tr class="title">
                <td width="140" height="25" align="center">项目编号</td>
                <td align="center">项目名称</td>
                <td width="185" align="center">挂牌价格</td>
                <td width="90" align="center">公示日期</td>
                
            </tr>
        
           
            <tr *ngFor="let item of zrxx">
                <td height="28"   class="num" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{item.gongYingXinXi.id}}</td>
                <td align="center" class="tit">
                    <a [routerLink]="['/zrxxdetail', item.gongYingXinXi.id]">
                        <div class="textDiv overText" >&nbsp;{{item.gongYingXinXi.xiangMuMingCheng}}</div>
                    </a>
                </td>
                <td align="center"><span class="tit">{{item.gongYingXinXi.guaPaiJiaGe}}&nbsp;{{item.gongYingXinXi.guaPaiJiaGeDanWei | jgdwType}}</span></td>
                <td align="center" class="num">{{item.gongYingXinXi.chuangJianRiQi|date:'yyyy-MM-dd'}}</td>
            </tr>						
        
            
        </tbody>
    </table>
</div>
