<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="31" align="left" class="pos">当前位置：
                <a>首页</a> &gt;
                <a>交易规则</a> &gt;
                <a>文件下载</a> &gt;

            </td>
        </tr>
    </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="729" height="560" align="center" valign="top" bgcolor="#edfcf8">

                <table width="95%" border="0" cellspacing="0" cellpadding="0" style="margin:6px 0">

                    <tbody>
                        <tr>
                            <td height="26" align="left"> 
                                <div></div>
                                <div class="card">
                                    <p-tabView>
                                        <p-tabPanel header="合同模板">
                                           Content 1
                                        </p-tabPanel>
                                        <p-tabPanel header="转让相关">
                                            Content 2
                                        </p-tabPanel>
                                        <p-tabPanel header="政策相关">
                                            Content 3
                                        </p-tabPanel>
                                    </p-tabView>
                                </div>
                            </td>
                            <!-- <td width="90" align="center">2019-04-01</td> -->
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>