<app-header></app-header>

<div>
    <table border="0" align="center" cellpadding="0" cellspacing="0" class="MainTable">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="1002" style="background-color:#ffffff;" border="0" align="center" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="31" style="padding-left:20px" align="left" class="pos">当前位置：
                                    <a routerLink="/home">首页</a> -> 
                                    <a routerLink="/jyggall/zhuanrang">交易公告</a> -&gt; 
                                    <a>转让信息</a></td> 
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="497" height="341" align="left" valign="top" >
                    <div class="slidebox-01 swiper-container">
                        <div class="swiper-wrapper">
                            <!-- 展示图片只有一张时 -->
                            <ng-container>
                                <div class="swiper-slide">
                                    <img [src]="swiperList" width="362px" height="278" alt="">
                                </div>
                            </ng-container>
                            <!-- 展示图片有多张时
                                <ng-container *ngFor="let item of swiperList">
                                <div class="swiper-slide">
                                    <img [src]="item.imgUrl" width="362px" height="278" alt="">
                                </div>
                            </ng-container> -->
                        </div>
                        <!-- 如果需要分页器-->
                        <div class="swiper-pagination"></div>

                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        <!-- 如果需要滚动条 -->
                        <div class="swiper-scrollbar"></div>
                    </div>

                </td>


                <td valign="top">
                    <table width="460" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="40" align="center" class="head_l">{{xiangMuMingCheng}}转让信息公示</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="460" border="0" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                        <tbody>
                            <tr>
                                <td width="100" align="left" height="30">项目编号：</td>
                                <td height="30" align="left" colspan="3">{{xiangMuBianHao}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">交易方式：</td>
                                <td height="30" align="left" colspan="3">{{jiaoYiFangShi | jjfsType}}</td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30"> 项目地址：</td>
                                <td height="30" align="left" colspan="3">{{faBuQuYu}} </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">流转期限：</td>
                                <td height="30" align="left" colspan="3">
                                    {{zhuanChuBegin | date:'yyyy-MM-dd'}}至{{zhuanChuEnd | date:'yyyy-MM-dd'}} </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">发布日期：</td>
                                <td height="30" align="left" colspan="3">{{chuangJianRiQi | date:'yyyy-MM-dd'}} </td>
                            </tr>
                            <tr>
                                <td width="100" align="left" height="30">转让方类型</td>
                                <td height="30" align="left" colspan="3">{{zhuanChuFangLeiXing | zrfType}} </td>
                            </tr>


                        </tbody>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>

    <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc1">
        <tbody>
            <tr>
                <td>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" align="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px">耕地信息
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 耕地信息开始  -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="margin-top:10px; table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody *ngFor="let item of diKuaiList">

                                <tr>
                                    <td align="left" colspan="2" style="width: 50%;"><span>耕地名称：</span>
                                        {{item.diKuaiMingCheng}}
                                    </td>
                                    <td align="left"><span>坐落：</span>{{item.zuoLuo}}</td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 50%;"><span>转出面积：</span>{{item.mianJi}} </td>
                                    <td align="left" colspan="2"><span>土地性质：</span>{{tuDiXingZhi | tdxz}}</td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 50%;">
                                        <span>转出期限</span>{{zhuanChuBegin | date:'yyyy-MM-dd'}}至{{zhuanChuEnd |
                                        date:'yyyy-MM-dd'}}
                                    </td>
                                    <td align="left" colspan="2"><span>项目编号：</span>{{xiangMuBianHao}}</td>
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2"><span>土地四至：</span> </td>
                                    <td>东：{{item.dongZhi}}</td>
                                    <td>西：{{item.xiZhi}}</td>
                                </tr>
                                <tr>
                                    <td>南：{{item.nanZhi}}</td>
                                    <td>北：{{item.beiZhi}}</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>地上附着物：</span> {{fuzhuowuList_mingCheng}} </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3"><span>其他描述：</span>{{qiTa}}</td>
                                </tr>


                                <tr style="display:none;">
                                    <td align="left" style="padding-bottom:10px;" colspan="3">
                                        <span>转出土地用途：</span>{{zhuanChuYongTu}}</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                    <!-- 项目信息结束  -->

                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" valign="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">转出方信息
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 判断标段信息开始 -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="margin-top:10px; table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>

                                <tr>
                                    <td align="left" width="50%"><span>转让人：</span>{{zhuanChuFangMingCheng}}</td>
                                    <td align="left" width="50%"><span>联系电话：</span>{{zhuanChuFang_dianHua}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="usercenter" style="padding:0 13px 13px 13px; margin-top:13px">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="20" valign="left"
                                        style="font-size:17px; font-weight:bold; color:#222; padding-top:5px;">转出信息</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 转出信息开始 -->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xmxx"
                            style="margin-top:10px; table-layout:fixed;word-wrap:break-word;word-break:break-all;background:#ffffff">
                            <tbody>

                                <tr>
                                    <td align="left" width="50%"><span>转出方式：</span>{{zhuanChuFangShi | zcfsType}}</td>
                                    <td align="left" width="50%"><span>是否再次转出：</span>{{shiFouZaiCiZhuanChu | boolean}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%"><span>挂牌价格：</span>{{guaPaiJiaGe}}
                                        &nbsp;{{guaPaiJiaGeDanWei | jgdwType}}</td>
                                    <td align="left" width="50%"><span>交易价款付款方式：</span>{{zhiFuFangShi | zffsType}}</td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%">
                                        <span>与转让相关的其他条件：</span>{{zhuanRangXiangGuanQiTaTiaoJian}}
                                    </td>
                                    <td align="left" width="50%"><span>受让方条件：</span>{{shouRangFangTiaoJian}}</td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%">
                                        <span>是否缴纳保证金：</span>{{shiFouJiaoNaBaoZhengJin | boolean}}
                                    </td>
                                    <td align="left" width="50%"><span>交易保证金：</span>{{jiaoYiBaoZhengJin}}</td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%"><span>缴纳形式：</span>{{jiaoNaXingShi | jnxs}}</td>
                                    <td align="left" width="50%"><span>挂牌公告期（工作日）</span>{{guaPaiQi}}</td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%">
                                        <span>挂牌期满后，如未征集到满摘牌条件的意向受让方：</span>{{qiManChuLiFangShi | qmclType}}
                                    </td>
                                    <td align="left" width="50%"><span>交易方式：</span>{{jiaoYiFangShi | jjfsType}}</td>
                                </tr>
                                <tr>
                                    <td align="left" width="50%" colspan="2">
                                        <span>其他描述：</span>{{fuJian}}
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" align="left"><span>价款划入账号：</span></td>
                                </tr>
                                <tr>
                                    <td><span>账户名称：</span>{{zhangHuMingCheng}}</td>
                                </tr>
                                <tr>
                                    <td><span>开户银行：</span>{{kaiHuYinHang}}</td>
                                </tr>
                                <tr>
                                    <td><span>账号：</span>{{jiaKuanHuaRuZhangHao}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <!-- 判断标段信息结束 -->

                        <br>
                        <div style="width:100px;margin: 0 auto;display:block;">
                            <button class="btbm1" (click)="signUp()">我要报名</button>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table width="1002" align="center" border="0" cellpadding="0" cellspacing="0" id="snc2" style=" margin-top:7px; background-color:#ffffff; display:none;">
      <tr>
        <td align="center" width="1002"><img src="wsjjys/images/3.jpg" width="620" height="315" /></td>
      </tr>
      </tr>
    </table>
    <table width="998" border="0" align="center" cellpadding="0" cellspacing="0" class="mart7">
      <tr>
        <td height="90" align="center" style="line-height:22px; border-top:3px solid #d8d8d8; background:#efefef">版权所有：河南省委农工办 河南省财政厅<br />
          建设单位：河南省信息中心 技术支持：南京南大尚诚软件科技有限公司<br />
        联系电话：025-83393917 苏ICP备14008292号</td>
      </tr>
    </table> -->

</div>
<app-lite-login #liteLogin *ngIf="isActive"> </app-lite-login>