<div *ngIf="serveTime >= 0 && serveTime <= 1800">
    <br>
    <div>
        <p>竞拍时间</p>
    </div>
    <div class = "countdown">
    {{remainTime}}
    </div>
    <br>
    <p-progressBar [value]="value"></p-progressBar>
    <br>
    <table style="border: none;font-size: 16px;">    
        <tr>
            <th align="right">项目名称：</th>
            <th align="left">
                {{projectName}}
            </th>  
        <td width='100'></td> 
            <th  align="right">竞价方式：</th>
            <th align="left">
                <span *ngIf="jiaoYiFangShi == 1">黑盒报价</span>
                <span *ngIf="jiaoYiFangShi == 0">公开报价</span>
            <span>--</span>
                <span *ngIf="jingJiaFangShi == 0">正向</span>
                <span *ngIf="jingJiaFangShi == 1">反向</span>
            </th>                     
        </tr>
        <tr height='20px'></tr>
        <tr  align="right">
            <th>项目底价：</th>
            <th align="left">
                {{DiJia}}
            </th> 
            <th width="150px">当前有效报价：</th>
            <th align="left">
                {{bidPrice}}
            </th> 
            <th>当前最优报价：</th>
            <th align="left">
                {{endPrice}}
            </th> 
                        
        </tr>
    </table>
    <br>
    <div>
        <span>请输入价格（精确到整数）：</span>
        <input type="number" pInputText [(ngModel)]="bidPrice">&nbsp;&nbsp;
        <button pButton pRipple type="button" label="出价" *ngIf="jiaoYiFangShi == 0"  class="p-button-success" (click)="getPrice()" ></button>
        <button #oneButton pButton pRipple type="button" label="出价"  class="p-button-success" *ngIf="jiaoYiFangShi == 1 " (click)="getOnePrice()" ></button>
    </div>
    <div class="bidHistory" *ngIf="jiaoYiFangShi == 0">
        <div><span style="font-size: 14px; color: #13b695;font-family: simsun;">报价记录</span></div>
        <table style="width: 300px; font-size: 14px;">
            <tr>
                <th width="70">序号</th>
                <th width="70">报价人</th>
                <th width="70">出价</th>
                <th width="180">出价时间</th>
            </tr>
            <!-- <tr>
                <td>当前最高价</td>
                <td>{{endUser}} </td>
                <td>{{endPrice}} </td>
                <td></td>
            </tr> -->
            <tr *ngFor="let item of tongjiList ; ">

                <td>{{item.count}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.lasttime}}</td>           
                
            </tr>
        
        </table>
    </div>
</div>
<div  class="serveTime" *ngIf="serveTime > 1800">
    <span>竞价已经结束</span>

</div>
<div class="serveTime" *ngIf="serveTime < 0 ">
    <span>距离竞价开始时间还有
        <span class="timeNumber" >{{days}}</span> 天
        <span class="timeNumber" >{{hours}}</span>小时
        <span class="timeNumber" >{{minutes}}</span>分钟
        <span class="timeNumber" >{{seconds}}</span>秒
    </span>

</div>
