<br>
<div>
    <p>竞拍时间</p>
</div>
<div class = "countdown">
   {{remainTime}}
</div>

<br>
<p-progressBar [value]="value"></p-progressBar>
<br>
<div *ngIf="jiaoYiFangShi == 1">
    <span>尊敬的{{username}} ，本次竞拍为一次性报价，您可以在规定时间内在下方填写您的报价，然后提交。注意：提交以后不可更改，请谨慎报价。</span>
</div>
<div *ngIf="jiaoYiFangShi == 0">
    <span>尊敬的{{username}} ，本次竞拍为公开报价，您可以在规定时间内在下方填写您的报价，然后提交。注意：点击刷新按钮可得到当前最高报价，在竞价时间内您可以多次报价，请谨慎报价。</span>
</div>
<br>
<br>
<div *ngIf="jingJiaFangShi == 0">
    <span> 您参与的竞价为正向报价，即价高者得，合理的增加报价更容易中标哦</span>
</div>
<div *ngIf="jingJiaFangShi == 1">
    <span> 您参与的竞价为反向报价，即合理的降低报价更容易中标哦</span>
</div>
<br>
<div>
    <input type="number" pInputText [(ngModel)]="bidPrice">
    <button pButton pRipple type="button" label="出价" *ngIf="jiaoYiFangShi == 0"  class="p-button-success" (click)="getPrice()" ></button>
    <button #oneButton pButton pRipple type="button" label="出价"  class="p-button-success" *ngIf="jiaoYiFangShi == 1 " (click)="getOnePrice()" ></button>
</div>
<div class="bidHistory" *ngIf="jiaoYiFangShi == 0">
    <table>
        <!-- <tr>
            <th>时间</th>
            <td></td>
            <th>出价</th>
        </tr> -->
        <tr>
            <td><button pButton class="p-button-success" label = "刷新" (click)="getMaxPrice()"></button></td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{now}}</td>

            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{maxPrice}}</td>

        </tr>
    </table>
</div>
