@charset "utf-8";
body { margin:0px;padding:0px; background:#fff; font-size:12px; font-family:"宋体"}

*{
    margin: 0;
    padding: 0;
	list-style:none;
	behavior: url("js/iepngfix.htc") ;
}

a { text-decoration:none; color:#333}

div,ul,li,span,p { margin:0px; padding:0px; list-style:none}

img { border:0px}

/* slidepic-01 */
.slidebox-01{width:362px;height:280px;overflow:hidden !important;position:relative;margin:0px;}
.slidepic-01{position:absolute;width:1810px;}/* 必要元素 */
.slidepic-01 li{height:280px;overflow:hidden;float:left;}
.slidepic-01 li .photo {width:362px;height:250px;}
.slidepic-01 li .photo img {width:362px;height:250px;}
.slidepic-01 li .txt { width:362px;height:30px; line-height:30px; text-align:center; background:#eee; color:#000}
.slidebtn-01{position:absolute;bottom:30px;right:0px;float:right;}
.slidebtn-01 li{background:#fff;border:1px solid #d6d6d6;cursor:pointer;float:left;font-family:arial;height:15px;line-height:15px;width:18px;text-align:center;color:#222;font-size:12px}
.slidebtn-01 li.current{background:#2eabe2;border:1px solid #0484bc;height:15px;line-height:15px;width:18px;color:#fff;font-size:12px; font-weight:bold;}

.nav { background:url(snccq_dhx_navbg.jpg);}

.nav_f { width:940px; margin:0 auto}
.nav_f li { padding:0 15px; float:left; color:#fff; font-size:14px;font-family:"微软雅黑"; font-weight:bold}
.nav_f li a { text-decoration:none; color:#fff; font-size:14px;font-family:"微软雅黑"; font-weight:bold}
.nav_f li a:hover { color:#FF0}

.nav_sec { width:932px; margin:0 auto}
.nav_sec li { padding:0 6px; float:left; color:#000; font-size:12px;font-family:Arial}
.nav_sec li a { text-decoration:none; font-family:"宋体"; color:#333}
.nav_sec li a:hover {text-decoration: underline;}

.news_pad { padding:0 8px 0 8px}

.title_sw { background:url(snccq_dhx_titltbg1.jpg); border:1px solid #dfdfdf; height:28px; position:relative; margin-top:7px;}
.title_sw ul { position:absolute;top:-1px; left:-1px;}
.title_sw li { float:left; padding:0 8px; font-size:12px;font-family:"微软雅黑"; color:#333; line-height:28px; cursor:pointer; height:28px;}
.title_sw .active { color:#fff; font-weight:bold; background:url(snccq_dhx_titltbg.jpg); border:1px solid #2885e0;line-height:26px; height:28px;}
.title_sw p { float:left; margin-right:5px;}
.title_sw span { float:left}

.title_sw3 { background:url(snccq_dhx_titltbg1.jpg); border:1px solid #dfdfdf; height:28px; position:relative; margin-top:7px;}
.title_sw3 ul { position:absolute;top:-1px; left:-1px;}
.title_sw3 li { float:left; padding:0 8px; font-size:12px;font-family:"微软雅黑"; color:#333; line-height:28px; cursor:pointer; height:28px;}
.title_sw3 p { float:left; margin-right:5px;}
.title_sw3 span { float:left}

.head_l { height:42px;border-bottom:1px solid #d8d8d8}
.head_l ul { }
.head_l li { font-size:14px; font-family:"微软雅黑"; color:#666; line-height:36px; text-align:left; text-indent:28px;}
.head_l .bhead { font-size:19px; font-family:"微软雅黑","黑体"; color:#DB0005; text-align:center; font-weight:bold; line-height:36px; text-indent:0px; padding-top:3px;}
.head_l a { color:#F00; text-decoration:none;}

.news_lis { margin-top:6px;}
.news_lis li { height:25px;}
.news_lis span { float:right; line-height:25px; display:block; width:70px;padding-right:5px; text-align:right;font-size:12px; font-family: Tahoma, Geneva, sans-serif; color:#666;}
.news_lis li a { display:block; width:284px; overflow:hidden; font-size:12px; color:#333;font-family:"宋体";color:#333; text-decoration:none; float:left; text-align:left;line-height:25px;}
.news_lis li a:hover { color:#F55E0C;}

.lis_pt {}
.lis_pt ul{ border:1px solid #d8d8d8; border-top:none; padding:5px 0; height:125px;}
.lis_pt li{ line-height:25px; font-size:12px; color:#333; font-family:"宋体"; text-indent:5px;}
.lis_pt li a { color:#333}
.lis_pt li a:hover{ color:#F55E0C}

.title_swb { background:url(snccq_dhx_titltbg2.jpg); border:1px solid #c1deea; height:28px; position:relative; margin-top:7px;}
.title_swb ul { position:absolute;top:-1px; left:-1px;}
.title_swb li { float:left; padding:0 15px; font-size:14px;font-family:"微软雅黑"; color:#333; line-height:28px; cursor:pointer; height:28px;}
.title_swb .active { color:#fff; font-weight:bold; background:url(snccq_dhx_titltbg.jpg); border:1px solid #2885e0;line-height:26px; height:28px;}

.sig_tit { color:#fff; font-weight:bold; background:url(snccq_dhx_titltbg.jpg); border:1px solid #2885e0;line-height:26px; height:28px; position:absolute;left:-1px; top:-1px; width:85px; text-align:center; font-size:14px;font-family:"微软雅黑";}
.more { position:absolute; top:10px; right:10px; line-height:12px; font-size:12px; font-family:"宋体";}
.more a { color:#333}
.more a:hover {color:#F55E0C}

.nptit { color:#fff; font-weight:bold;line-height:29px; height:29px; width:85px; text-align: center; font-size:14px;font-family:"微软雅黑"; float:left;}
.npmore { line-height:29px; font-size:12px; font-family:"宋体"; float:right; margin-right:10px;}
.npmore a { color:#333}
.npmore a:hover {color:#F55E0C}

.lis_blue {}
.lis_blue ul{ border:1px solid #c1deea; background:#eff6f9; border-top:none; padding:5px 0; height:125px;}
.lis_blue li{ line-height:25px; font-size:12px; color:#333; font-family:"宋体"; text-indent:5px;}
.lis_blue li a { color:#333}
.lis_blue li a:hover{ color:#F55E0C}

.lis_blue1 {}
.lis_blue1 ul{ border:1px solid #c1deea; background:#eff6f9; border-top:none; padding:5px 0; height:125px;}
.lis_blue1 li{ line-height:24px; font-size:12px; color:#333; font-family:"宋体"; text-indent:5px;}
.lis_blue1 li a { color:#333}
.lis_blue1 li a:hover{ color:#F55E0C}

.sea_select { border:1px solid #d8d8d8; width:150px; font-size:12px; font-family:"宋体";height:21px; line-height:21px; color:#666}
.sea_input  { border:1px solid #d8d8d8; width:146px; font-size:12px; font-family:"宋体"; height:17px;line-height:17px;color:#666}

.show_data { border:1px solid #d8d8d8;font-family:"宋体"; color:#666;}
.show_data th { border-bottom:1px solid #d8d8d8; font-size:12px; color:#000; font-weight:bold; background:#f4f4f4}
.show_data td { border-bottom:1px dotted #d5d5d5; border-right:1px dotted #d5d5d5}
.show_data .chage {background:#f6f6f6}
.show_data .num {font-family: Tahoma, Geneva, sans-serif;}
.show_data .tit { text-indent:8px;}
.show_data a { color:#222;}
.show_data a:hover{color:#F55E0C}

.clear {clear:both;display:block;}

.slide { width:745px; margin-left:0; margin-top:7px; margin-bottom:7px}
.slide .prev,.slide .next {height:100px;width:10px;display:block;text-decoration:none;cursor:pointer;}
.slide .prev {float:left;background: url(2014_snc_sliderl.jpg) no-repeat; margin-right:7px;}
.slide .next {float:left;background:url(2014_snc_slider.jpg) no-repeat; margin-left:6px;}

.img_s { width:710px; height:100px; float:left; overflow:hidden;}
.img_s li {width:81px; height:100px; margin:0 4px; cursor:pointer;background: url(2014_snc_sliderbg.jpg) no-repeat; text-align:center; display:inline; float:left;}  
.img_s p { height:60px; width:81px;text-align:center; float:none; padding-top:12px;}
.img_s span { height:24px; line-height:24px; text-align:center; width:81px; color:#000; font-size:12px;display:block; font-weight:bold}

.img_is { width:880px; height:87px; margin:0 auto; margin:8px 0}
.img_is li {width:72px; height:85px; margin:0 3px; cursor:pointer; border:1px solid #c1deea;background-color: #deebf1; float:left;
  background: -webkit-linear-gradient(top,#ffffff 0,#deebf1 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#deebf1 100%);
  background: -o-linear-gradient(top,#ffffff 0,#deebf1 100%);
  background: linear-gradient(to bottom,#ffffff 0,#deebf1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#deebf1,GradientType=0);}  
.img_is p { height:50px; width:72px;text-align:center; float:none; padding-top:12px;}
.img_is span { height:24px; line-height:24px; text-align:center; width:72px; color:#004ea2; font-size:12px;display:block;}

.btitw { background:url(snccq_dhx_btitw.jpg); width:369px; height:29px;}
.btits { background:url(snccq_dhx_btits.jpg); width:369px; height:29px;}

.show_datah {font-family:"宋体"; color:#666;}
.show_datah th {font-size:12px; color:#000; font-weight:bold; background:#d6e8ef}
.show_datah td { }
.show_datah .num {font-family: Tahoma, Geneva, sans-serif;}
.show_datah .tit { text-indent:8px;}
.show_datah .red { color:#DC0106}
.show_datah a { color:#222;}
.show_datah a:hover{color:#F55E0C}

.clear {clear:both;display:block;}

.slide1 { width:994px; margin:0 auto; margin-top:7px; margin-bottom:7px;}
.slide1 .prev1,.slide1 .next1 {height:44px;width:12px;display:block;text-decoration:none;cursor:pointer;behavior: url(ie-css3.htc);}
.slide1 .prev1 {float:left;background:url(snccq_dhx_linkl.jpg) no-repeat; margin-right:5px;}
.slide1 .next1 {float:left;background:url(snccq_dhx_linkr.jpg) no-repeat; margin-left:5px;}

.img_s1 { width:960px; height:44px; float:left; overflow:hidden;behavior: url(ie-css3.htc);}
.img_s1 li {width:114px; height:44px; margin:0 3px; cursor:pointer;}  

.txtsw {}
.txtsw td { font-size:12px; font-family:"宋体"; color:#333; cursor:pointer;padding:0px; margin:0px}
.txtsw .active { font-weight:bold; color:#F55E0C; background:none; border:none;}

.list_tit {border:1px solid #c1deea; font-size:23px; font-weight:bold; font-family:"微软雅黑","黑体"; color:#0a71ca}

.list_lis { width:218px; margin:0 auto; padding-bottom:10px;}
.list_lis li { background: url(snccq_dhx_listbg.jpg); height:31px; line-height:31px; text-indent:78px; text-align:left; margin-top:10px;}
.list_lis li a { color:#0a71ca; font-weight:bold; font-family:"宋体"; font-size:12px;}
.list_lis li a:hover { color:#F55E0C}

.lis_tab td{ border-bottom:1px dashed #ccc}

.red_txt { color: #F00}

.bd_sqb {border-top:1px solid #eaeaea; border-left:1px solid #eaeaea; margin-top:7px;}
.bd_sqb th{ background:#f5f5f5; color:#000; font-weight:bold}
.bd_sqb .tti { background:#f5f5f5; color:#000; font-weight:bold;}
.bd_sqb td{ border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea; color:#555; height:30px; line-height:30px;}
.bd_sqb input[type="text"] { margin-left:6px; border:1px solid #eee; font-size:12px; color:#666; padding:0px; line-height:20px; height:20px;}
.bd_sqb textarea { margin:6px 0; margin-left:6px; border:1px solid #eee; font-size:12px; line-height:20px}

.no_bord { margin:6px 0}
.no_bord td{ border:0px; line-height:25px; position: relative; text-indent:22px;color:#555}
.no_bord input[type="checkbox"] { margin:0px; padding:0px; position:absolute;top:6px;left:6px; border:1px solid #ddd}

.hd_sqb { margin-top:7px;}
.hd_sqb td{color:#555;}
.hd_sqb input[type="text"] { margin-left:6px; border:1px solid #eee; font-size:12px; color:#666; padding:0px; line-height:20px; height:20px;}
.hd_sqb textarea { margin:6px 0; margin-left:6px; border:1px solid #eee; font-size:12px; line-height:20px}

a.dailog {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
background-color: #f7d100;
  background: -webkit-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: -moz-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: -o-linear-gradient(top,#f7d100 0,#f7a300 100%);
  background: linear-gradient(to bottom,#f7d100 0,#f7a300 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7d100,endColorstr=#f7a300,GradientType=0); border:1px solid #ff7e00;height:20px; line-height:20px; font-size:12px; color:#fff; font-family:"宋体"; font-weight:bold; padding:2px 10px 0px 10px; margin:0xp;display:block; text-decoration:none; float:left; margin-left:5px;}
a.dailog:hover {background-color: #ff7e00;
  background: -webkit-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: -moz-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: -o-linear-gradient(top,#ff7e00 0,#ffb400 100%);
  background: linear-gradient(to bottom,#ff7e00 0,#ffb400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7e00,endColorstr=#ffb400,GradientType=0);}